/*****************************************************/


/*** custom styles for this project ***/


/*****************************************************/

::-webkit-scrollbar {
  width: 5px;
  background: @brown;
}

::-webkit-scrollbar-track {
  .border-radius;
}

::-webkit-scrollbar-thumb {
  .border-radius;
  background: @beig;
}

.main-content {
  background: url(../../assets/images/body-bg.jpg) repeat center center;
  padding: 30px 0 70px;
  .breadcrumb {
    padding: 15px;
    background: @brown;
    li {
      color: @beig;
      font-size: @normalSize2;
      a {
        color: @beig;
        i {
          margin: 0 7px;
        }
      }
    }
  }
}

.section-title {
  position: relative;
  margin-bottom: 15px;
  padding: 15px;
  .border-radius-corner(10px, 0, 0, 10px);
  background: @brown;
  color: @beig;
  position: relative;
  z-index: 25;
  h3 {
    margin: 0;
    font-size: @mediumSize;
    color: @beig;
  }
  a {
    position: absolute;
    top: 10px;
    right: 15px;
    color: @beig;
    font-size: @mediumSize;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../../assets/images/title-bg.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .3;
  }
}

.author {
  .normal-weight;
  color: @brown;
  display: block;
  font-size: @normalSize;
  margin-bottom: 5px;
  i {
    margin-right: 7px;
    color: @beig;
  }
}

.latest-added {
  .card {
    padding: 20px;
    margin: 0 0 20px;
    background: #fff;
    border-bottom: 4px solid @beig;
    .big-thum {
      position: relative;
      img {
        width: 100%;
        height: 185px;
      }
      .play-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        ;
        a {
          display: block;
          margin: 65px auto 0;
          width: 50px;
          height: 50px;
          font-size: @mediumSize;
          line-height: 50px;
          .bg-white;
          .border-radius(50%);
          text-align: center;
          color: @brown;
        }
      }
      h4 {
        margin: 10px 0 5px;
        a {
          font-size: @mediumSize;
          .text-danger;
          display: block;
          line-height: normal;
        }
      }
      p {
        font-size: 15px;
        margin: 0 0 10px;
        color: @brown;
        line-height: normal;
      }
      span {
        display: inline-block;
        margin-right: 30px;
        color: @brown;
        font-size: @smallSize;
        i {
          margin-right: 7px;
          color: @beig;
        }
      }
    }
  }
  ul {
    li:last-child {
      .new-small-added-item {
        border-bottom: 0;
      }
    }
  }
}

.new-small-added-item {
  padding: 10px;
  border-bottom: 1px solid @beig;
  .border-radius;
  .transition;
  .media {
    .media-left {
      padding: 0;
      img {
        width: 80px;
        height: 80px;
        .border-radius;
      }
    }
    .media-body {
      padding-left: 15px;
      h4 {
        line-height: normal;
        margin: 0 0 5px;
        a {
          display: block;
          .text-danger;
          font-size: @mediumSize;
        }
      }
      label {
        margin-bottom: 9px;
      }
      span {
        display: inline-block;
        margin-right: 20px;
        color: @brown;
        font-size: @smallSize;
        i {
          margin-right: 7px;
          color: @beig;
        }
      }
    }
  }
  &:hover {
    background: @brown;
    .transition;
    .media {
      .media-body {
        h4 {
          a {
            color: @beig;
          }
        }
        .author {
          color: @beig;
        }
        span {
          color: @beig;
          i {
            color: @beig;
          }
        }
      }
    }
  }
}

.card.book-item {
  margin-top: 0;
  border-bottom: 3px solid @brown;
  .transition;
  padding: 10px;
  .book-img {
    position: relative;
    img {
      width: 100%;
      height: 197px;
      margin-bottom: 10px;
    }
    span {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background: @danger-color;
      text-align: center;
      .text-white;
      .normal-weight;
      margin: 0;
    }
  }
  .desc {
    border-top: 1px solid @beig;
    h4 {
      margin: 10px 0 5px;
      line-height: 20px;
      a {
        font-size: @normalSize2;
        .text-danger;
        .bold-weight;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    span {
      display: inline-block;
      color: @beig;
      font-size: @smallSize;
      margin-right: 10px;
      i {
        margin-right: 7px;
        font-size: @smallSize;
        color: @brown;
      }
    }
  }
  &:hover {
    .transition;
    background: @brown;
    .book-img {
      label {
        background: @danger-color;
        color: @white;
      }
    }
    .desc {
      h4 {
        a {
          color: @beig;
        }
      }
      .author {
        color: @beig;
      }
      span {
        i {
          color: @beig;
        }
      }
    }
  }
}

.card.question-item {
  margin: 0 0 15px;
  padding: 10px;
  .transition;
  .media {
    .media-left {
      padding: 0;
      img {
        width: 90px;
        height: 90px;
        .border-radius;
      }
    }
    .media-body {
      padding: 0 10px;
      h4 {
        line-height: 20px;
        margin: 10px 0;
        a {
          display: block;
          font-size: @mediumSize;
          .text-danger;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      span {
        display: inline-block;
        margin-right: 20px;
        color: @brown;
        font-size: @smallSize;
        margin-bottom: 7px;
        i {
          color: @beig;
          margin-right: 7px;
        }
      }
    }
  }
  &:hover {
    .transition;
    background: @brown;
    .border-radius(20px);
    .media {
      .media-left {
        .border-radius(20px);
      }
      .media-body {
        h4 {
          a {
            color: @beig;
          }
        }
        .author {
          color: @beig;
        }
        span {
          color: @beig;
        }
      }
    }
  }
}

.home-videos {
  ul {
    li:last-child {
      .small-video-item {
        border-bottom: 0;
      }
    }
  }
}

.big-video {
  margin-top: 0;
  .video-img {
    position: relative;
    img {
      height: 220px;
      width: 100%;
    }
    .play-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      ;
      a {
        display: block;
        margin: 85px auto 0;
        width: 50px;
        height: 50px;
        font-size: @mediumSize;
        line-height: 50px;
        .bg-white;
        .border-radius(50%);
        text-align: center;
        color: @brown;
      }
    }
  }
  .desc {
    padding: 15px;
    h4 {
      line-height: 20px;
      margin: 0 0 10px;
      a {
        .text-danger;
        display: block;
        font-size: @largeSize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    label {
      .normal-weight;
      color: @brown;
      display: block;
      font-size: @normalSize;
      i {
        margin-right: 7px;
        color: @beig;
      }
    }
    span {
      display: inline-block;
      margin-right: 20px;
      color: @brown;
      font-size: @smallSize;
      i {
        color: @beig;
        margin-right: 7px;
      }
    }
  }
}

.small-videos-list {
  padding: 0;
  border-top: 1px solid @beig;
}

.small-video-item {
  padding: 10px;
  border-bottom: 1px solid @beig;
  .transition;
  .media {
    .media-left {
      position: relative;
      img {
        width: 90px;
        .border-radius;
      }
      .play-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        a {
          display: block;
          width: 30px;
          height: 30px;
          border: 2px solid @white;
          line-height: 30px;
          text-align: center;
          .border-radius(50%);
          margin: 20px auto 0;
          color: @white;
        }
      }
    }
    .media-body {
      h4 {
        line-height: 20px;
        margin: 0 0 5px;
        a {
          display: block;
          font-size: @mediumSize;
          .text-danger;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      span {
        display: inline-block;
        margin-right: 20px;
        color: @brown;
        font-size: @smallSize;
        i {
          color: @beig;
          margin-right: 7px;
        }
      }
    }
  }
  &:hover {
    background: @brown;
    .transition;
    .media {
      .media-body {
        h4 {
          a {
            color: @beig;
          }
        }
        .author,
        span {
          color: @beig;
        }
      }
    }
  }
}

.home-sound-item {
  .card {
    margin: 0;
    padding: 12.3px 15px;
    .transition;
    .no-radius;
    .media {
      .media-left {
        i {
          width: 50px;
          height: 50px;
          background: @beig;
          .border-radius(50%);
          text-align: center;
          line-height: 50px;
          color: @brown;
          font-size: @mediumSize;
        }
      }
      .media-body {
        h4 {
          margin: 10px 0;
          line-height: 10px;
          a {
            display: block;
            .text-danger;
            font-size: @mediumSize;
          }
        }
        span {
          display: inline-block;
          margin-right: 20px;
          color: @brown;
          font-size: @smallSize;
          i {
            margin-right: 7px;
            color: @beig;
          }
        }
      }
    }
    &:hover {
      .transition;
      background: @brown;
      .media {
        .media-left {
          i {
            background: @beig;
            color: @brown;
          }
        }
        .media-body {
          h4 {
            a {
              color: @beig;
            }
          }
          .author {
            color: @beig;
          }
          span {
            color: @beig;
          }
        }
      }
    }
  }
  &.inner {
    margin-bottom: 20px;
  }
}

.card.home-article {
  margin: 0 0 15px;
  padding: 10px;
  .transition;
  .bg-white;
  .media {
    .media-left {
      padding: 0;
      img {
        width: 100px;
        height: 110px;
        .border-radius;
      }
    }
    .media-body {
      padding: 3px 15px;
      h4 {
        margin: 0 0 10px;
        line-height: 15px;
        a {
          font-size: @mediumSize;
          .text-danger;
        }
      }
      label {
        .normal-weight;
        color: @brown;
        font-size: @normalSize;
        i {
          margin-right: 7px;
          color: @beig;
        }
      }
      p {
        font-size: @normalSize;
        color: @brown;
        margin-bottom: 5px;
        height: 25px;
        max-height: 25px;
        overflow: hidden;
        a{
          .text-danger;
        }
      }
      span {
        font-size: @smallSize;
        margin-right: 20px;
        color: @brown;
        display: inline-block;
        i {
          margin-right: 7px;
          color: @beig;
        }
      }
    }
  }
  &:hover {
    background: @brown;
    .media {
      .media-body {
        .transition;
        h4 {
          a {
            color: @beig;
          }
        }
        .author {
          color: @beig;
        }
        p {
          color: @beig;
          a{
            color: @beig;
          }
        }
        span {
          color: @beig;
        }
      }
    }
  }
}

.back-to-allah {
  .owl-carousel {
    .item {
      img {
        width: 100%;
      }
      h4 {
        margin: 0;
        padding: 12px;
        text-align: center;
        line-height: 20px;
        .bg-white;
        a {
          .text-danger;
          display: block;
          font-size: @mediumSize;
        }
      }
    }
  }
}

.special-video {
  margin-bottom: 10px;
  margin-top: 15px;
  h4 {
    background: @brown;
    color: @beig;
    font-size: @mediumSize;
    margin: 0 0 15px;
    padding: 15px;
    .border-radius-corner(10px, 0, 0, 10px);
  }
  iframe {
    width: 100%;
    height: 268px;
  }
}

.video-item {
  .elegant-card {
    .transition;
    .card-up {
      img {
        height: 190px;
        width: 100%;
      }
    }
    .btn-floating {
      position: absolute;
      left: 0;
      right: 0;
      float: none;
      width: 40px;
      height: 40px;
      background: @brown;
      color: @beig;
      margin: -20px auto 0;
      i {
        line-height: 40px;
      }
    }
    .card-content {
      text-align: center;
      .transition;
      .bg-white;
      padding: 20px;
      h4 {
        margin: 10px 0;
        line-height: 20px;
        a {
          font-size: @mediumSize;
          .text-danger;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      span {
        font-size: @smallSize;
        color: @brown;
        margin: 0 10px;
        i {
          color: @beig;
          margin: 0 7px;
        }
      }
    }
    &:hover {
      .transition;
      .btn-floating {
        background: @beig;
        color: @brown;
      }
      .card-content {
        background: @brown;
        .transition;
        h4 {
          a {
            color: @beig;
          }
        }
        .author {
          color: @beig;
        }
        span {
          color: @beig;
          i {
            color: @beig;
          }
        }
      }
    }
  }
}

.most-visited {
  .card {
    padding: 0;
  }
  .new-small-added-item {
    .media {
      .media-left {
        img{
          width: 80px;
          height: 80px;
        }
      }
      .media-body {
        padding-left: 10px;
        h4 {
          margin-bottom: 5px;
          a {
            font-size: @mediumSize - 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        span {
          font-size: @smallSize;
        }
      }
    }
  }
}

.pagination {
  margin: 50px 0 0;
  li {
    display: inline-block;
    padding: 0;
    a {
      padding: 10px;
      color: @beig;
      .bg-white;
      width: 40px;
      height: 40px;
      font-size: @mediumSize;
      .no-radius;
      &:hover {
        background: @brown;
        color: @beig;
      }
    }
    &.active {
      a {
        background: @brown;
        color: @beig;
        &:hover {
          background: @brown;
          color: @beig;
        }
      }
    }
  }
}

.card.section-info {
  padding: 15px 0 5px;
  margin: 0 0 15px;
  overflow: visible;
  .translated-to {
    margin-bottom: 20px;
    span {
      color: @brown;
      font-size: @normalSize2;
      margin: 0 15px;
    }
  }
  .btn.dropdown-button {
    margin: 0;
    padding: 10px 20px;
    background: @brown;
    color: @white;
    font-size: @normalSize;
    line-height: 10px;
    position: relative;
    i {
      margin: 0 5px;
      font-size: @smallSize;
    }
  }
  .dropdown-content {
    background: @brown;
    width: auto !important;
    max-width: 500px !important;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    &::-webkit-scrollbar {
      width: 5px;
      background: @beig;
    }
    &::-webkit-scrollbar-track {
      .border-radius;
    }
    &::-webkit-scrollbar-thumb {
      .border-radius;
    }
    li {
      a {
        padding: 7px;
        font-size: @normalSize;
        text-transform: capitalize;
        color: @white;
        white-space: nowrap;
        &:hover {
          background: @beig;
          color: @brown;
        }
      }
    }
  }
  ol {
    margin: 0;
    .bg-transparent;
    display: inline-block;
    padding: 0;
    li {
      &:before {
        color: @brown;
      }
      a {
        color: @danger-color;
        &.btn {
          padding: 5px 20px;
          margin: 0;
          line-height: normal;
          font-size: @normalSize;
          color: @white;
          background: @brown;
          text-transform: capitalize;
          .transition;
        }
      }
    }
  }
}

.rtl {
  .author {
    i {
      margin-right: 0;
      margin-left: 7px;
    }
  }
  .home-sidebar {
    .side-menu {
      ul {
        li {
          ul {
            right: 100%;
            left: auto;
          }
        }
      }
    }
  }
  .latest-added {
    .card {
      .big-thum {
        span {
          margin-left: 30px;
          margin-right: 0;
          i {
            margin-left: 7px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .new-small-added-item {
    .media {
      .media-body {
        padding-right: 15px;
        padding-left: 0;
        span {
          margin-left: 20px;
          margin-right: 0;
          i {
            margin-left: 7px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .section-title {
    a {
      left: 15px;
      right: auto;
    }
  }
  .card.book-item {
    .book-img {
      span {
        left: 0;
        right: auto;
      }
    }
    .desc {
      span {
        margin-left: 10px;
        margin-right: 0;
        i {
          margin-left: 7px;
          margin-right: 0;
        }
      }
    }
  }
  .card.question-item {
    .media {
      .media-body {
        span {
          margin-right: 0;
          margin-left: 20px;
          i {
            margin-right: 0;
            margin-left: 7px;
          }
        }
      }
    }
  }
  .big-video {
    .desc {
      label {
        i {
          margin-right: 0;
          margin-left: 7px;
        }
      }
      span {
        margin-right: 0;
        margin-left: 20px;
        i {
          margin-right: 0;
          margin-left: 7px;
        }
      }
    }
  }
  .small-video-item {
    .media {
      .media-body {
        span {
          margin-right: 0;
          margin-left: 20px;
          i {
            margin-right: 0;
            margin-left: 7px;
          }
        }
      }
    }
  }
  .home-sound-item {
    .card {
      .media {
        .media-body {
          label {
            i {
              margin-right: 0;
              margin-left: 7px;
            }
          }
          span {
            margin-right: 0;
            margin-left: 20px;
            i {
              margin-right: 0;
              margin-left: 7px;
            }
          }
        }
      }
    }
  }
  .card.home-article {
    .media {
      .media-body {
        label {
          i {
            margin-right: 0;
            margin-left: 7px;
          }
        }
        span {
          margin-right: 0;
          margin-left: 20px;
          i {
            margin-right: 0;
            margin-left: 7px;
          }
        }
      }
    }
  }
  .most-visited {
    .new-small-added-item {
      .media {
        .media-body {
          padding-right: 10px;
        }
      }
    }
  }
}
