
// Rtl Font-Face

@font-face {
	font-family: "NeoSansArabic";
    src:url('../fonts/NeoSansArabic.eot') format('eot'),
		url('../fonts/NeoSansArabic.woff') format('woff'),
		url('../fonts/NeoSansArabic.ttf') format('truetype'),
		url('../fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');
}

@font-face {
	font-family: "GE_Dinar";
    src:url('../fonts/GE_Dinar_One_Medium.ttf') format('truetype');
}

@font-face {
    font-family: "open-sans";
    src:url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "open-sans";
    src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "open-sans";
    src:url("../fonts/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 500;
}