.top-footer{
  background: @brown;
  padding: 40px 0;
  text-align: center;
  .logo{
    margin-bottom: 15px;
    img{
      height: 130px;
      margin-bottom: 10px;
    }
    p{
      color: @beig;
      font-size: @normalSize;
      margin: 0;
      span{
        display: block;
      }
    }
  }
  .social{
    p{
      color: @beig;
      font-size: @normalSize;
      margin: 10px 0 0;
    }
    a{
      background: @beig;
      font-size: @normalSize;
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      .border-radius(50%);
      color: @brown;
    }
  }
}
.bottom-footer{
  padding: 10px 0;
  text-align: center;
  background: #403025;
  p{
      color: @beig;
      font-size: @normalSize;
      margin:0;
    a{
      color: @beig;
    }
  }
}