/*****************************************************/
/*** the general classes that helps in coding ***/
/*****************************************************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: @ltrBodyFontFamily;
    color: @bodyTxtColor;
	font-weight: normal;
    background-color: @bodyBgColor;
    position: relative;
    overflow-x: hidden;
    text-transform: capitalize !important;
}
#wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.sticky-footer {
    color: @lightgrey;
    background-color: @elegant-color;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.sticky-footer ul {
    padding-left: 15px;
    padding-right: 15px;
}
.sticky-footer ul>li>a {
    color: @white;
    font-size: @smallSize;
    display: inline-block;
    line-height: 1.4285;
    i {
        vertical-align: middle;
        line-height: 1;
    }
    .icon-youtube.icon-lg {
        font-size: 28px;
        margin-top: -3px;
        display: inline-block;
    }
    text-decoration: none;
    &:hover {
        color: @white;
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @ltrHeadFontFamily;
    font-weight: bold;
}
.sticky-footer h4 {
    color: @white;
}
.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.width-30 {
    width: 30%;
}
.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}
.width-60 {
    width: 60%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 80%;
}
.width-90 {
    width: 90%;
}
.width-100 {
    width: 100%;
}
//  box alignment
.display-table {
    display: table;
    width: 100%;
    height: 100%;
}
.align-middle {
    vertical-align: middle;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
}
// positioning
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.display-table {
    display: table;
}
.align-middle {
    vertical-align: middle;
}
.display-table > .align-middle {
    display: table-cell;
}
// text alignment
.text-center-xs {
    @media(max-width: @screen-xs-max) {
        text-align: center !important;
    }
}
.text-left-xs {
    @media(max-width: @screen-xs-max) {
        text-align: left !important;
    }
}
.text-right-xs {
    @media(max-width: @screen-xs-max) {
        text-align: right !important;
    }
}
// font weights
.normal-weight {
    font-weight: normal;
}
.light-weight {
    font-weight: 300;
}
.bold-weight {
    font-weight: 600;
}
// font-families
.font-head {
    font-family: @ltrHeadFontFamily;
}
.font-body {
    font-family: @ltrBodyFontFamily;
}
// extra font sizes
.strong {
    font-size: @headThree;
}
.strong-sm {
    font-size: @headFour;
}
.strong-md {
    font-size: @headTwo;
    line-height: 1.25;
}
.strong-lg {
    font-size: @headOne;
    line-height: 1.34;
}
// block, inline or block-inline
.block-inline {
    display: inline-block;
}
.block {
    display: block;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
}
// height and width
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
// border
.no-border {
    border: none !important;
}
.bordered {
    border: 1px solid transparent;
}
.bordered-right {
    border-right: 1px solid transparent;
}
.bordered-left {
    border-left: 1px solid transparent;
}
.bordered-top {
    border-top: 1px solid transparent;
}
.bordered-bottom {
    border-bottom: 1px solid transparent;
}
.bordered-primary {
    border-color: @primary-color;
}
.bordered-success {
    border-color: @success-color;
}
.bordered-info {
    border-color: @info-color;
}
.bordered-warning {
    border-color: @warning-color;
}
.bordered-danger {
    border-color: @danger-color;
}
.bordered-white {
    border-color: @white;
}
.bordered-md {
    border-width: 3px;
}
.bordered-lg {
    border-width: 5px;
}
.bordered-xlg {
    border-width: 20px;
}
.bordered-bottom-md {
    border-bottom-width: 3px;
}
.btn-gary {
    height: 20px;
    width: 20px;
    background-color: #a9a9a9;
    color: @white;
    .no-padding;
    text-align: center;
}
.no-radius {
    .border-radius(0) !important;
}
.no-overflow {
    overflow: hidden;
}
.no-float {
    float: none;
}
// padding
.no-padding {
    padding: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}
.no-padding-left {
    padding-left: 0;
}
.section-padding {
    padding: 70px 0;
}
.padding {
    padding: 10px;
}
.padding-2 {
    padding: 2px;
}
.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px
}
.padding-15 {
    padding: 15px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-left-25 {
    padding-left: 25px;
}
.padding-right-25 {
    padding-right: 25px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-bottom-25 {
    padding-bottom: 25px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-top-60 {
    padding-top: 60px;
}
.padding-top-70 {
    padding-top: 70px;
}
.col-no-padding {
  padding:0 !important; 
}
.col-padding-1{
  padding: 0 1px !important; 
}
.col-padding-2{
  padding: 0 2px !important; 
}
.col-padding-3{
  padding: 0 3px !important; 
}
.col-padding-4{
  padding: 0 4px !important; 
}
.col-padding-5{
  padding: 0 5px !important; 
}
.col-padding-6{
  padding: 0 6px !important; 
}
.col-padding-7{
  padding: 0 7px !important; 
}
.col-padding-8{
  padding: 0 8px !important; 
}
.col-padding-9{
  padding: 0 9px !important; 
}
.col-padding-10{
  padding: 0 10px !important; 
}
// margin
.no-margin {
    margin: 0;
}
.no-margin-top {
    margin-top: 0;
}
.no-margin-right {
    margin-right: 0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.no-margin-left {
    margin-left: 0;
}
.margin {
    margin: 10px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.margin-15 {
    margin: 15px;
}
.margin-20 {
    margin: 20px;
}
.margin-25 {
    margin: 25px;
}
.margin-30 {
    margin: 30px;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-right-15 {
    margin-right: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-25 {
    margin-left: 25px;
}
.margin-right-25 {
    margin-right: 25px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-right-30 {
    margin-right: 30px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-top-50{
	margin-top: 50px;
}
.text-primary {
    color: @primary-color;
}
.text-success {
    color: @success-color;
}
.text-info {
    color: @info-color;
}
.text-warning {
    color: @warning-color;
}
.text-danger {
    color: @danger-color;
}
.text-black {
    color: @black;
}
.text-white {
    color: @white;
}
.text-green{
	color: @green;
}
.bg-transparent{
    background-color: transparent;
}
.bg-default {
    background-color: @white;
}
.bg-primary {
    background-color: @primary-color;
}
.bg-success {
    background-color: @success-color;
}
.bg-dark-success{
	background-color: @success-color-dark;
}
.bg-warning {
    background-color: @warning-color;
}
.bg-dark-warning{
	background-color: @warning-color-dark;
}
.bg-danger {
    background-color: @danger-color;
}
.bg-dark-danger{
	background-color: @danger-color-dark;
}
.bg-info {
    background-color: @info-color;
}
.bg-dark-info{
	background-color: @info-color-dark;
}
.bg-white {
    background-color: @white;
}
.bg-gary {
    background-color: @grey;
}
.bg-inverse {
    background-color: @elegant-color;
}
.bg-green{
	background-color: @green;
}
.img-container {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.img-container-xs {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.img-container-sm {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.img-container-md {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.img-container-lg {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.icon-pos-left {
    margin-right: 5px;
}
.icon-pos-right {
    margin-left: 5px;
}
.icon-pos-left-7 {
    margin-right: 7px;
}
.icon-pos-right-7 {
    margin-left: 7px;
}
/*****************************************************/
/*** general-styles rtl ***/
/*****************************************************/

.rtl {
    .bordered-right {
        border-left: 1px solid transparent;
        border-right: none;
    }
    .bordered-left {
        border-right: 1px solid transparent;
        border-left: none;
    }
    .bordered-md {
        border-width: 3px;
    }
    .bordered-lg {
        border-width: 5px;
    }
    .bordered-xlg {
        border-width: 20px;
    }
    .bordered-bottom-md {
        border-bottom-width: 3px;
    }
    .bordered-primary {
        border-color: @primary-color;
    }
    .bordered-success {
        border-color: @success-color;
    }
    .bordered-info {
        border-color: @info-color;
    }
    .bordered-warning {
        border-color: @warning-color;
    }
    .bordered-danger {
        border-color: @danger-color;
    }
    .bordered-white {
        border-color: @white;
    }
    .padding-left {
        padding-right: 10px;
        padding-left: 0;
    }
    .padding-right {
        padding-left: 10px;
        padding-right: 0;
    }
    .padding-left.padding-right {
        padding-left: 10px;
        padding-right: 10px;
    }
    .padding-left-xs {
        padding-left: 0px;
        padding-right: 2px;
    }
    .padding-right-xs {
        padding-right: 0px;
        padding-left: 2px;
    }
    .padding-left-xs.padding-right-xs {
        padding-right: 2px;
        padding-left: 2px;
    }
    .padding-left-sm {
        padding-right: 5px;
        padding-left: 0;
    }
    .padding-right-sm {
        padding-left: 5px;
        padding-right: 0;
    }
    .padding-left-sm.padding-right-sm {
        padding-left: 5px;
        padding-right: 5px;
    }
    .padding-left-md {
        padding-right: 15px;
        padding-left: 0;
    }
    .padding-right-md {
        padding-left: 15px;
        padding-right: 0;
    }
    .padding-left-md.padding-right-md {
        padding-right: 15px;
        padding-left: 15px;
    }
    .padding-left-lg {
        padding-right: 30px;
        padding-left: 0;
    }
    .padding-right-lg {
        padding-left: 30px;
        padding-right: 0;
    }
    .padding-left-lg.padding-right-lg {
        padding-left: 30px;
        padding-right: 30px;
    }
    .margin-left {
        margin-right: 10px;
        margin-left: 0;
    }
    .margin-right {
        margin-left: 10px;
        margin-right: 0;
    }
    .margin-left.margin-right {
        margin-right: 10px;
        margin-left: 10px;
    }
    .margin-left-sm {
        margin-right: 5px;
        margin-left: 0;
    }
    .margin-right-sm {
        margin-left: 5px;
        margin-right: 0;
    }
    .margin-left-sm.margin-right-sm {
        margin-left: 5px;
        margin-right: 5px;
    }
    .margin-left-md {
        margin-right: 15px;
        margin-left: 0;
    }
    .margin-right-md {
        margin-left: 15px;
        margin-right: 0;
    }
    .margin-left-md.margin-right-md {
        margin-left: 15px;
        margin-right: 15px;
    }
    .margin-left-lg {
        margin-right: 30px;
        margin-left: 0;
    }
    .margin-right-lg {
        margin-left: 30px;
        margin-right: 0;
    }
    .margin-left-lg.margin-right-lg {
        margin-left: 30px;
        margin-right: 30px;
    }
    .icon-pos-left {
        margin-right: auto;
        margin-left: 5px;
    }
    .icon-pos-right {
        margin-left: auto;
        margin-right: 5px;
    }
    .icon-pos-left.icon-pos-right {
        margin-left: 5px;
        margin-right: 5px;
    }
}