.intro{
  background: url(../../assets/images/slider-img.jpg) no-repeat center center;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
    .pattern-ovelary{
        background: url(../../assets/images/overlay.png) repeat;
        position: absolute;
        padding: 100px 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        .logo{
            img{
                height: 250px;
              margin-bottom: 25px;
            }
        }
      .langs{
        text-align: center;
        a{
          display: inline-block;
          margin: 0 3px;
          img{
            display: inline-block;
            width: 30px;
            height: 25px;
            .border-radius(10px);
          }
        }
        .tooltip{
          top: 23px !important;
          .tooltip-inner{
            .bg-warning;
            padding: 2px 10px;
            font-size: @smallSize;
            color: @white;
            .border-radius;
            border: 0; 
            text-transform: capitalize;
            white-space: nowrap;
          }
          &.bottom{
            .tooltip-arrow{
              border-bottom-color: @warning-color;
            }
          }          
        }
      }
      .social{
        h1{
          font-weight: 500;
          margin-top: 20px;
          
          margin-bottom: 20px;
          color: @white;
          font-size: @xLargeSize;
          .text-multi-shadow;
        }
        .btn-sm{
          margin: 0 2px;
          line-height: normal;
          padding:5px 10px;
          font-size: @normalSize;
          i{
            font-size: @normalSize2;
          }
        }
      }
    }
}

@media (max-width:767px){
  .intro{
    .pattern-ovelary{
      padding: 50px 0;
      .logo{
        img{
          height: 200px;
        }
      }
        .langs{
          text-align: center;
          a{
            img{
              margin-bottom: 10px;
            }
          }
        }
      }
  }
}