
.mobile-menu{
  position: absolute;
  left: 0;
  top: 0;
  .button-collapse{
    padding: 10px;
    text-transform: capitalize;
    i{
      vertical-align: middle;
    }
  }
  .side-nav{
    padding: 20px 0;
    background: @brown;
    .logo-wrapper{
      text-align: center;
      margin-bottom: 30px;
      img{
        height: 150px;
      }
    }
    
    .collapsible-accordion{
      li{
        background: @brown;
        height: auto;
        line-height: normal;
        a{
          color: @beig;
          padding: 10px;
          height: auto;
          font-size: @normalSize2;
          line-height: normal;
          border-bottom: 1px solid @beig;
        }
      }
    }
  }
}

.rtl{
  .mobile-menu{
    right: 0;
    left: auto;
  }
}