.top-header {
  padding: 10px 0;
  background: @brown;
  .social {
    float: left;
    a {
      background: @beig;
      font-size: @normalSize;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      color: @brown;
      .border-radius;
    }
  }
  .lang {
    float: right;
    .btn {
      .bg-transparent;
      .text-white;
      box-shadow: none;
      margin: 0;
      padding: 0 20px;
      position: relative;
      text-transform: capitalize;
      &:before {
        position: absolute;
        content: "\f107";
        font-family: @iconFont;
        right: 0;
        top: 0;
        color: @white;
      }
      i {
        margin: 0 7px;
        font-size: 12px;
      }
    }
    .dropdown-content {
      background: @brown;
      li {
        a {
          padding: 5px 10px;
          display: block;
          color: @beig;
          font-size: @normalSize;
          text-transform: capitalize;
          .transition;
          &:hover {
            background: @beig;
            color: @brown;
            .transition;
          }
        }
      }
    }
  }
}

.banner {
  background: url(../../assets/images/slider-img.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  height: 440px;
  position: relative;
  .pattern-ovelary {
    background: url(../../assets/images/overlay.png) repeat;
    position: absolute;
    padding: 80px 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    .logo {
      img {
        height: 250px;
      }
    }
  }
}

.main-slider {
  .owl-carousel {
    img {
      width: 100%;
      height: 400px;
    }
  }
}

.navbar.main-nav {
  background: @brown;
  .no-margin;
  .navbar-collapse {
    .nav.navbar-nav {
      text-align: center;
      margin: 0;
      li {
        text-align: center;
        margin: 0 auto;
        a {
          font-size: @normalSize2;
          outline: none;
          padding: 10px 40px;
          i {
            display: block;
            text-align: center;
            margin-bottom: 5px;
            color: @beig;
            font-size: 30px;
          }
        }
        &.dropdown {
          ul {
            width: auto;
            max-width: 1000px;
            background: @brown;
            li {
              display: block;
              width: 100%;
              a {
                font-size: 16px;
                color: @beig;
                padding: 7px;
                text-align: left;
                &:hover{
                  background: @beig;
                  color: @brown;
                }
              }
            }
          }
        }
      }
    }
    .navbar-form{
      padding: 0;
      margin-top: 20px;
      .form-group{
        box-sizing: border-box;
        margin: 0;
        .form-control{
          box-sizing: border-box;
          margin: 0;
          border: 1px solid @beig;
          padding: 7px 10px;
          .border-radius;
          line-height: normal;
          color: @beig;
          .placeholder;
          height: auto;
          &:focus{
            box-shadow: none;
          }
        }
        button{
          background: @beig;
          padding: 7px 10px;
          color: @brown;
          .border-radius;
          i{
            margin: 0 5px;
          }
        }
      }
    }
  }
  .modal{
    .modal-header{
      text-align: center;
      h4{
        color: @brown;
      }
    }
    .modal-body{
      .input-field{
        width: 100%;
      }
      .btn{
        background: @danger-color;
        padding: 10px 50px;
        font-size: @mediumSize;
        margin: 30px 0;
        line-height: normal;
        color: @white;
        i{
          margin: 0 7px;
          font-size: @normalSize;
        }
      }
    }
  }
}

.rtl {
  .top-header {
    .social {
      float: right;
    }
    .lang {
      float: left;
      .btn {
        &:before {
          left: 0;
          right: auto;
        }
      }
    }
  }
  .navbar.main-nav {
    .navbar-collapse {
      .nav.navbar-nav {
        li {
          &.dropdown {
            ul {
              li {
                a {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal{
    .modal-body{
      .input-field{
        label{
          right: 0.75rem;
          left: auto;
        }
      }
    }
  }
}