@media (max-width:767px){
  .main-slider .owl-carousel img{
    height: 300px;
  }
  .navbar.main-nav{
    .navbar-collapse{
      .nav.navbar-nav{
        li{
          display: block;
          width: 100%;
        }
      }
      .navbar-form{
        padding: 20px;
        margin-top: 0;
        .form-group{
          .form-control{
            margin: 0 0 10px;
          }
          button{
            width: 100%;
          }
        }
      }
    }
    
  }
  .home-sidebar,.rtl .home-sidebar{
    .side-menu{
      ul{
        li{
          position: relative;
          display: block;
          ul{
            position: relative;
            min-width: 160px;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .card.view-item,.rtl .card.view-item{
    padding: 20px;
    .video{
      iframe{
        height: 300px;
      }
    }
    .item-title{
      h1{
        font-size: 26px;
        line-height: 30px;
      }
    }
    .jp-audio .jp-type-single .jp-time-holder{
      left: 43px;
    }
    .jp-audio .jp-volume-controls{
      display: none;
    }
    .info{
      float: none;
      display: block;
      margin-bottom: 10px;
    }
    .share{
      margin-top:10px;
      float: none;
      display: block;
      h5{
        margin: 0 0 15px;
      }
      .btn-sm-full{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  .card.section-info{
    text-align: center;
    padding: 15px;
    .translated-to{
      margin-bottom: 20px;
      span{
        display: block;
        margin: 0 0 7px;
      }
    }
    .btn.dropdown-button{
      display: block;
      width: 100%;
    }
  }
}