

.home-sidebar{
  .side-menu{
    margin-bottom: 15px;
    z-index: 9999;
    h3{
      z-index: 22;
      .text-white;
      background: @brown;
      text-align: center;
      font-size: @mediumSize;
      padding: 15px;
      margin: 0;
      position: relative;
      color: @beig;
      .border-radius-corner(10px,0,0,10px);
      
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: url(../../assets/images/title-bg.png) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: .3;
      }
      i{
        margin: 0 7px;
      }
    }
    
    ul{
      li{
        position: relative;
        display: block;
        a{
          display: block;
          color: @beig;
          background: @brown;
          padding: 10px 30px;
          border-top: 1px solid @beig;
          font-size: 16px;
          .transition;
          position: relative;
          &:before{
            position: absolute;
            content: "";
            background: url(../../assets/images/menu-star.png) no-repeat;
            background-size: cover;
            width: 15px;
            height: 15px;
            top: 13px;
            left: 10px;
          }
          
          &:hover{
            background: @beig;
            .transition;
            color: @brown;
            padding: 10px 35px;
          }
        }
        
        ul{
          position: absolute;
          display: none;
          min-width: 160px;
          top: 0;
          left: 100%;
          .transition;
          z-index: 9999;
          
          li{
            .transition;
            a{
              .transition;
              color: @beig;
              background: @brown;
              padding: 10px;
              text-align: center;
              white-space: nowrap;
              &:before{
                content: none;
              }
           }
          }
          
        }
        
        &:hover{
          .transition;
          ul{
            display: block;
            .transition;
          }
        }
      }
    }
  }
}

.rtl{
  .home-sidebar{
    .side-menu{
      ul{
        li{
          a{
            &:before{
              right: 10px;
              left: auto;
              top: 15px;
            }
          }
        }
      }
    }
  }
}