/*****************************************************/
/*** custom variables ***/
/*****************************************************/



/*******************************************************************/
/*** FONTS ***/
/*******************************************************************/
// english fonts
@ltrBodyFonts: 		'open-sans';	
@ltrHeadFonts:      'open-sans'; 			
// rtl fonts
@rtlBodyFonts: 		'NeoSansArabic';
@rtlHeadFonts: 		'GE_Dinar';

// icon font

@iconFont: 			"FontAwesome";
@rtlBodyFontFamily: @rtlBodyFonts;
@rtlHeadFontFamily: @rtlHeadFonts;

@ltrBodyFontFamily: @ltrBodyFonts;
@ltrHeadFontFamily: @ltrHeadFonts;




/*******************************************************************/
/*** FONTS SETTING ***/
/*******************************************************************/
@smallSize: 		12px;
@normalSize: 		14px;
@normalSize2:       16px;
@mediumSize: 		18px;
@largeSize: 		21px;
@xLargeSize: 		24px;
@xxLargeSize: 		30px;
@xxxLargeSize: 		36px;
@lineHeight: 		1.4285; // for body size 13px lineheight will be 20px;
@padding:           10px;

@bodySize: 			@normalSize;
@metaSize: 			@smallSize;
@headSix: 			@smallSize;
@headFive: 			@normalSize;
@headFour: 			@mediumSize;
@headThree: 		@largeSize;
@headTwo: 			@xLargeSize;
@headOne: 			@xxLargeSize;
@superHead: 		@xxxLargeSize + 12px;
@xSuperHead: 		@superHead + 18px;

@headerIconSize: 	@largeSize;
@headerLinkSize: 	@normalSize;




/*******************************************************************/
/*** COLOR SCHEME ***/
/*******************************************************************/

@danger-color:          #800000;
@danger-color-dark:     #CC0000;
@warning-color:         #ffbb33;
@warning-color-dark:    #FF8800;
@success-color:         #00C851;
@success-color-dark:    #007E33;
@info-color:            #33b5e5;
@info-color-dark:       #0099CC;
@default-color:         #2BBBAD;
@default-color-dark:    #00695c;
@primary-color:         #4285F4;
@primary-color-dark:    #0d47a1;
@secondary-color:       #aa66cc;
@secondary-color-dark:  #9933CC;
@elegant-color:         #2E2E2E;
@elegant-color-dark:    #212121;
@stylish-color:         #4B515D;
@stylish-color-dark:    #3E4551;
@special-color:         #37474F;
@special-color-dark:    #263238;
@unique-color:          #3F729B; 
@unique-color-dark:     #1C2331;
@red:                   #F44336;
@pink:                  #E91E63;
@purple:                #9C27B0;
@deeppurple:            #673AB7;
@indigo:                #3F51B5;
@lightblue:             #03A9F4;
@cyan:                  #00BCD4;
@teal:                  #009688;
@green:                 #8faf2d;
@lightgreen:            #8BC34A;
@lime:                  #CDDC39;
@lightyellow:           #FFEB3B;
@orange:                #FF9800;
@deeporange:            #FF5722;
@grey:                  #9E9E9E;
@bluegrey:              #607D8B;
@brown:                 #4c3627;
@beig:                  #c4b38e;
@lightgrey:             #ECECEC;
@white:                 #fff;
@black:                 #000;




// Social colors
@fb-color:          #3B5998;
@tw-color:          #55ACEE;
@gplus-color:       #DD4B39;
@yt-color:          #CD201F;
@li-color:          #0082CA;
@pin-color:         #C61118;
@ins-color:         #3F729B;
@git-color:         #4183C4;
@comm-color:        #30CFC0;
@rss-color :        #ff6e00;





@blackShadowColor: 	rgba(0, 0, 0, .1);
@whiteShadowColor: 	rgba(255, 255, 255, .5);



@bodyBgColor: 		@white;
@bodyTxtColor: 		@black;
@primaryTxtColor: 	@primary-color;
@successTxtColor: 	@success-color;
@infoTxtColor: 		@info-color;
@warningTxtColor: 	@warning-color;
@dangerTxtColor: 	@danger-color-dark;
@defaultTxtColor:  	@black;
@whiteTxtColor: 	@white;
@acolor:            @primary-color;


@headerLogoImage: 	url(../images/logo.png);





/*******************************************************************/
/*** bootstrap responsive variables ***/
/*******************************************************************/
// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);




