
.card.view-item{
  padding: 30px;
  .bg-white;
  
  .video{
    iframe{
      width: 100%;
      height: 400px;
      margin-bottom: 30px;
    }
  }
  .article{
    margin-bottom: 30px;
    img{
      margin: 0 auto;
    }
  }
  article{
    margin-top: 20px;
    p{
      font-size: @normalSize2;
      color: @brown;
    }
    .download-btn{
      text-align: center;
      padding: 15px 0;
      .btn{
        margin: 0;
        padding: 10px 20px;
        color: @white;
        background: @danger-color;
        font-size: @normalSize;
        line-height: normal;
        .transition;
        i{
          margin: 0 7px;
          font-size: @normalSize;
        }
        &:hover{
          background: @brown;
          color: @beig;
          .transition;
          padding: 10px 30px;
        }
      }
    }
  }
  .item-title{
    h1{
      font-size: @xxLargeSize;
      .text-danger;
      margin: 0 0 10px;
      span{
        color: @beig;
        margin: 0 20px;
        display: inline-block;
        font-size: @normalSize2;
        padding: 5px 15px;
        .border-radius;
        background: @brown;
      }
    }
    .author{
      margin-bottom: 0;
    }
  }
  
  .share-item{
    margin-top: 20px;
    border-top: 1px solid @beig;
    border-bottom: 1px solid @beig;
    padding: 20px 0;
  }
  
  .info{
    float: left;
    padding-top: 5px;
    span{
      margin-right: 15px;
      color: @brown;
      font-size: @smallSize;
      i{
        color: @beig;
        margin-right: 7px;
      }
    }
  }
  
  .share{
    float: right;
    h5{
      font-size: @normalSize2;
      color: @brown;
      margin: 0 10px;
      display: inline-block;
    }
    .btn-sm-full{
      margin: 0;
      padding: 5px 10px;
      display: inline-block;
      font-size: @normalSize;
      span{
        margin: 0;
      }
      i{
        font-size: @normalSize;
        margin: 0 5px;
      }
    }
  }
  
}

.jp-audio{
  background: transparent;
  .jp-interface{
    background: transparent;
  }
  .jp-controls{
    padding: 0;
  }
  .jp-type-single .jp-progress{
    left: 65px;
    height: 10px;
    top: 21px;
  }
  .jp-seek-bar{
    background: @brown;
  }
  .jp-play-bar{
    background: @beig;
  }
  .jp-volume-controls{
    right: 140px;
    top: 13px;
  }
  .jp-volume-bar{
    background: @brown;
    text-indent: inherit;
    top: 10px;
  }
  .jp-time-holder{
    top: -5px;
  }
  .jp-current-time, .jp-duration{
    font-size: 12px;
    color: #90856e;
  }
  .jp-volume-bar-value{
    background: @beig;
    text-indent: inherit;
  }
  .jp-volume-controls button{
    text-indent: inherit;
    background: none;
    overflow: visible;
    width: auto;
    height: auto;
    color: @brown;
  }
}

.rtl{
  .card.view-item{
    .info{
      float: right;
      span{
        margin-left: 15px;
        margin-right: 0;
        i{
          margin-left: 7px;
          margin-right: 0;
        }
      }
    }

    .share{
      float: left;
    }

  }
}