/* 
    Document   : login_style
    Created on : Apr 14, 2012, 11:46:44 AM
    Author     : Mohammed
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{background: #ccc;}
label{
    display: block;
}
.error{
    color: #373737;
    font-style: italic;
}
#login{
    background: #e3e3e3;
    width: 20%;
    margin: 5em auto 0;
    padding: 32px;
    border: 1px solid #d5d5d5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#login form input[type=text], input[type=password]{
    width: 100%;
    border: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    padding: 5px;
}
h2{
    margin-top: -54px;
    color: #aa2828;
    font-family: arial;
}
input[type=submit]{
    border: 1px solid #c62828;
    background: #aa2828;
    padding: .5em;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-weight: bold;
}
input[type=submit]:hover{
    background: #9a2222;
}