@font-face {
  font-family: NeoSansArabic;
  src: url(../fonts/NeoSansArabic.eot) format('eot'), url(../fonts/NeoSansArabic.woff) format('woff'), url(../fonts/NeoSansArabic.ttf) format('truetype'), url(../fonts/NeoSansArabic.svg#NeoSansArabic) format('svg')
}

@font-face {
  font-family: GE_Dinar;
  src: url(../fonts/GE_Dinar_One_Medium.ttf) format('truetype')
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400
}

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Semibold.ttf) format("truetype");
  font-weight: 500
}

body.rtl {
  direction: rtl;
  font-family: NeoSansArabic;
  font-weight: 300
}

.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6 {
  font-family: GE_Dinar;
  font-weight: 400
}

.rtl .flip.text-left {
  text-align: right
}

.rtl .flip.text-right {
  text-align: left
}

.rtl .list-unstyled {
  padding-right: 0;
  padding-left: initial
}

.rtl .list-inline {
  padding-right: 0;
  padding-left: initial;
  margin-right: -5px;
  margin-left: 0
}

.rtl dd {
  margin-right: 0;
  margin-left: initial
}

@media (min-width:768px) {
  .rtl .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left
  }
  .rtl .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0
  }
}

.rtl blockquote {
  border-right: 5px solid #eee;
  border-left: 0
}

.rtl .blockquote-reverse,
.rtl blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eee;
  border-right: 0;
  text-align: left
}

.rtl .col-lg-1,
.rtl .col-lg-10,
.rtl .col-lg-11,
.rtl .col-lg-12,
.rtl .col-lg-2,
.rtl .col-lg-3,
.rtl .col-lg-4,
.rtl .col-lg-5,
.rtl .col-lg-6,
.rtl .col-lg-7,
.rtl .col-lg-8,
.rtl .col-lg-9,
.rtl .col-md-1,
.rtl .col-md-10,
.rtl .col-md-11,
.rtl .col-md-12,
.rtl .col-md-2,
.rtl .col-md-3,
.rtl .col-md-4,
.rtl .col-md-5,
.rtl .col-md-6,
.rtl .col-md-7,
.rtl .col-md-8,
.rtl .col-md-9,
.rtl .col-sm-1,
.rtl .col-sm-10,
.rtl .col-sm-11,
.rtl .col-sm-12,
.rtl .col-sm-2,
.rtl .col-sm-3,
.rtl .col-sm-4,
.rtl .col-sm-5,
.rtl .col-sm-6,
.rtl .col-sm-7,
.rtl .col-sm-8,
.rtl .col-sm-9,
.rtl .col-xs-1,
.rtl .col-xs-10,
.rtl .col-xs-11,
.rtl .col-xs-12,
.rtl .col-xs-2,
.rtl .col-xs-3,
.rtl .col-xs-4,
.rtl .col-xs-5,
.rtl .col-xs-6,
.rtl .col-xs-7,
.rtl .col-xs-8,
.rtl .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.rtl .col-xs-1,
.rtl .col-xs-10,
.rtl .col-xs-11,
.rtl .col-xs-12,
.rtl .col-xs-2,
.rtl .col-xs-3,
.rtl .col-xs-4,
.rtl .col-xs-5,
.rtl .col-xs-6,
.rtl .col-xs-7,
.rtl .col-xs-8,
.rtl .col-xs-9 {
  float: right
}

.rtl .col-xs-12 {
  width: 100%
}

.rtl .col-xs-11 {
  width: 91.66666667%
}

.rtl .col-xs-10 {
  width: 83.33333333%
}

.rtl .col-xs-9 {
  width: 75%
}

.rtl .col-xs-8 {
  width: 66.66666667%
}

.rtl .col-xs-7 {
  width: 58.33333333%
}

.rtl .col-xs-6 {
  width: 50%
}

.rtl .col-xs-5 {
  width: 41.66666667%
}

.rtl .col-xs-4 {
  width: 33.33333333%
}

.rtl .col-xs-3 {
  width: 25%
}

.rtl .col-xs-2 {
  width: 16.66666667%
}

.rtl .col-xs-1 {
  width: 8.33333333%
}

.rtl .col-xs-pull-12 {
  left: 100%;
  right: auto
}

.rtl .col-xs-pull-11 {
  left: 91.66666667%;
  right: auto
}

.rtl .col-xs-pull-10 {
  left: 83.33333333%;
  right: auto
}

.rtl .col-xs-pull-9 {
  left: 75%;
  right: auto
}

.rtl .col-xs-pull-8 {
  left: 66.66666667%;
  right: auto
}

.rtl .col-xs-pull-7 {
  left: 58.33333333%;
  right: auto
}

.rtl .col-xs-pull-6 {
  left: 50%;
  right: auto
}

.rtl .col-xs-pull-5 {
  left: 41.66666667%;
  right: auto
}

.rtl .col-xs-pull-4 {
  left: 33.33333333%;
  right: auto
}

.rtl .col-xs-pull-3 {
  left: 25%;
  right: auto
}

.rtl .col-xs-pull-2 {
  left: 16.66666667%;
  right: auto
}

.rtl .col-xs-pull-1 {
  left: 8.33333333%;
  right: auto
}

.rtl .col-xs-pull-0 {
  left: auto;
  right: auto
}

.rtl .col-xs-push-12 {
  right: 100%;
  left: 0
}

.rtl .col-xs-push-11 {
  right: 91.66666667%;
  left: 0
}

.rtl .col-xs-push-10 {
  right: 83.33333333%;
  left: 0
}

.rtl .col-xs-push-9 {
  right: 75%;
  left: 0
}

.rtl .col-xs-push-8 {
  right: 66.66666667%;
  left: 0
}

.rtl .col-xs-push-7 {
  right: 58.33333333%;
  left: 0
}

.rtl .col-xs-push-6 {
  right: 50%;
  left: 0
}

.rtl .col-xs-push-5 {
  right: 41.66666667%;
  left: 0
}

.rtl .col-xs-push-4 {
  right: 33.33333333%;
  left: 0
}

.rtl .col-xs-push-3 {
  right: 25%;
  left: 0
}

.rtl .col-xs-push-2 {
  right: 16.66666667%;
  left: 0
}

.rtl .col-xs-push-1 {
  right: 8.33333333%;
  left: 0
}

.rtl .col-xs-push-0 {
  right: auto;
  left: 0
}

.rtl .col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0
}

.rtl .col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0
}

.rtl .col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0
}

.rtl .col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0
}

.rtl .col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0
}

.rtl .col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0
}

.rtl .col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0
}

.rtl .col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0
}

.rtl .col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0
}

.rtl .col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0
}

.rtl .col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0
}

.rtl .col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0
}

.rtl .col-xs-offset-0 {
  margin-right: 0;
  margin-left: 0
}

@media (min-width:768px) {
  .rtl .col-sm-1,
  .rtl .col-sm-10,
  .rtl .col-sm-11,
  .rtl .col-sm-12,
  .rtl .col-sm-2,
  .rtl .col-sm-3,
  .rtl .col-sm-4,
  .rtl .col-sm-5,
  .rtl .col-sm-6,
  .rtl .col-sm-7,
  .rtl .col-sm-8,
  .rtl .col-sm-9 {
    float: right
  }
  .rtl .col-sm-12 {
    width: 100%
  }
  .rtl .col-sm-11 {
    width: 91.66666667%
  }
  .rtl .col-sm-10 {
    width: 83.33333333%
  }
  .rtl .col-sm-9 {
    width: 75%
  }
  .rtl .col-sm-8 {
    width: 66.66666667%
  }
  .rtl .col-sm-7 {
    width: 58.33333333%
  }
  .rtl .col-sm-6 {
    width: 50%
  }
  .rtl .col-sm-5 {
    width: 41.66666667%
  }
  .rtl .col-sm-4 {
    width: 33.33333333%
  }
  .rtl .col-sm-3 {
    width: 25%
  }
  .rtl .col-sm-2 {
    width: 16.66666667%
  }
  .rtl .col-sm-1 {
    width: 8.33333333%
  }
  .rtl .col-sm-pull-12 {
    left: 100%;
    right: auto
  }
  .rtl .col-sm-pull-11 {
    left: 91.66666667%;
    right: auto
  }
  .rtl .col-sm-pull-10 {
    left: 83.33333333%;
    right: auto
  }
  .rtl .col-sm-pull-9 {
    left: 75%;
    right: auto
  }
  .rtl .col-sm-pull-8 {
    left: 66.66666667%;
    right: auto
  }
  .rtl .col-sm-pull-7 {
    left: 58.33333333%;
    right: auto
  }
  .rtl .col-sm-pull-6 {
    left: 50%;
    right: auto
  }
  .rtl .col-sm-pull-5 {
    left: 41.66666667%;
    right: auto
  }
  .rtl .col-sm-pull-4 {
    left: 33.33333333%;
    right: auto
  }
  .rtl .col-sm-pull-3 {
    left: 25%;
    right: auto
  }
  .rtl .col-sm-pull-2 {
    left: 16.66666667%;
    right: auto
  }
  .rtl .col-sm-pull-1 {
    left: 8.33333333%;
    right: auto
  }
  .rtl .col-sm-pull-0 {
    left: auto;
    right: auto
  }
  .rtl .col-sm-push-12 {
    right: 100%;
    left: 0
  }
  .rtl .col-sm-push-11 {
    right: 91.66666667%;
    left: 0
  }
  .rtl .col-sm-push-10 {
    right: 83.33333333%;
    left: 0
  }
  .rtl .col-sm-push-9 {
    right: 75%;
    left: 0
  }
  .rtl .col-sm-push-8 {
    right: 66.66666667%;
    left: 0
  }
  .rtl .col-sm-push-7 {
    right: 58.33333333%;
    left: 0
  }
  .rtl .col-sm-push-6 {
    right: 50%;
    left: 0
  }
  .rtl .col-sm-push-5 {
    right: 41.66666667%;
    left: 0
  }
  .rtl .col-sm-push-4 {
    right: 33.33333333%;
    left: 0
  }
  .rtl .col-sm-push-3 {
    right: 25%;
    left: 0
  }
  .rtl .col-sm-push-2 {
    right: 16.66666667%;
    left: 0
  }
  .rtl .col-sm-push-1 {
    right: 8.33333333%;
    left: 0
  }
  .rtl .col-sm-push-0 {
    right: auto;
    left: 0
  }
  .rtl .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0
  }
  .rtl .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0
  }
  .rtl .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0
  }
  .rtl .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0
  }
  .rtl .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0
  }
  .rtl .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0
  }
  .rtl .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0
  }
  .rtl .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0
  }
  .rtl .col-sm-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0
  }
  .rtl .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0
  }
  .rtl .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0
  }
  .rtl .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0
  }
  .rtl .col-sm-offset-0 {
    margin-right: 0;
    margin-left: 0
  }
}

@media (min-width:992px) {
  .rtl .col-md-1,
  .rtl .col-md-10,
  .rtl .col-md-11,
  .rtl .col-md-12,
  .rtl .col-md-2,
  .rtl .col-md-3,
  .rtl .col-md-4,
  .rtl .col-md-5,
  .rtl .col-md-6,
  .rtl .col-md-7,
  .rtl .col-md-8,
  .rtl .col-md-9 {
    float: right
  }
  .rtl .col-md-12 {
    width: 100%
  }
  .rtl .col-md-11 {
    width: 91.66666667%
  }
  .rtl .col-md-10 {
    width: 83.33333333%
  }
  .rtl .col-md-9 {
    width: 75%
  }
  .rtl .col-md-8 {
    width: 66.66666667%
  }
  .rtl .col-md-7 {
    width: 58.33333333%
  }
  .rtl .col-md-6 {
    width: 50%
  }
  .rtl .col-md-5 {
    width: 41.66666667%
  }
  .rtl .col-md-4 {
    width: 33.33333333%
  }
  .rtl .col-md-3 {
    width: 25%
  }
  .rtl .col-md-2 {
    width: 16.66666667%
  }
  .rtl .col-md-1 {
    width: 8.33333333%
  }
  .rtl .col-md-pull-12 {
    left: 100%;
    right: auto
  }
  .rtl .col-md-pull-11 {
    left: 91.66666667%;
    right: auto
  }
  .rtl .col-md-pull-10 {
    left: 83.33333333%;
    right: auto
  }
  .rtl .col-md-pull-9 {
    left: 75%;
    right: auto
  }
  .rtl .col-md-pull-8 {
    left: 66.66666667%;
    right: auto
  }
  .rtl .col-md-pull-7 {
    left: 58.33333333%;
    right: auto
  }
  .rtl .col-md-pull-6 {
    left: 50%;
    right: auto
  }
  .rtl .col-md-pull-5 {
    left: 41.66666667%;
    right: auto
  }
  .rtl .col-md-pull-4 {
    left: 33.33333333%;
    right: auto
  }
  .rtl .col-md-pull-3 {
    left: 25%;
    right: auto
  }
  .rtl .col-md-pull-2 {
    left: 16.66666667%;
    right: auto
  }
  .rtl .col-md-pull-1 {
    left: 8.33333333%;
    right: auto
  }
  .rtl .col-md-pull-0 {
    left: auto;
    right: auto
  }
  .rtl .col-md-push-12 {
    right: 100%;
    left: 0
  }
  .rtl .col-md-push-11 {
    right: 91.66666667%;
    left: 0
  }
  .rtl .col-md-push-10 {
    right: 83.33333333%;
    left: 0
  }
  .rtl .col-md-push-9 {
    right: 75%;
    left: 0
  }
  .rtl .col-md-push-8 {
    right: 66.66666667%;
    left: 0
  }
  .rtl .col-md-push-7 {
    right: 58.33333333%;
    left: 0
  }
  .rtl .col-md-push-6 {
    right: 50%;
    left: 0
  }
  .rtl .col-md-push-5 {
    right: 41.66666667%;
    left: 0
  }
  .rtl .col-md-push-4 {
    right: 33.33333333%;
    left: 0
  }
  .rtl .col-md-push-3 {
    right: 25%;
    left: 0
  }
  .rtl .col-md-push-2 {
    right: 16.66666667%;
    left: 0
  }
  .rtl .col-md-push-1 {
    right: 8.33333333%;
    left: 0
  }
  .rtl .col-md-push-0 {
    right: auto;
    left: 0
  }
  .rtl .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0
  }
  .rtl .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0
  }
  .rtl .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0
  }
  .rtl .col-md-offset-9 {
    margin-right: 75%;
    margin-left: 0
  }
  .rtl .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0
  }
  .rtl .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0
  }
  .rtl .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0
  }
  .rtl .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0
  }
  .rtl .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0
  }
  .rtl .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0
  }
  .rtl .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0
  }
  .rtl .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0
  }
  .rtl .col-md-offset-0 {
    margin-right: 0;
    margin-left: 0
  }
}

@media (min-width:1200px) {
  .rtl .col-lg-1,
  .rtl .col-lg-10,
  .rtl .col-lg-11,
  .rtl .col-lg-12,
  .rtl .col-lg-2,
  .rtl .col-lg-3,
  .rtl .col-lg-4,
  .rtl .col-lg-5,
  .rtl .col-lg-6,
  .rtl .col-lg-7,
  .rtl .col-lg-8,
  .rtl .col-lg-9 {
    float: right
  }
  .rtl .col-lg-12 {
    width: 100%
  }
  .rtl .col-lg-11 {
    width: 91.66666667%
  }
  .rtl .col-lg-10 {
    width: 83.33333333%
  }
  .rtl .col-lg-9 {
    width: 75%
  }
  .rtl .col-lg-8 {
    width: 66.66666667%
  }
  .rtl .col-lg-7 {
    width: 58.33333333%
  }
  .rtl .col-lg-6 {
    width: 50%
  }
  .rtl .col-lg-5 {
    width: 41.66666667%
  }
  .rtl .col-lg-4 {
    width: 33.33333333%
  }
  .rtl .col-lg-3 {
    width: 25%
  }
  .rtl .col-lg-2 {
    width: 16.66666667%
  }
  .rtl .col-lg-1 {
    width: 8.33333333%
  }
  .rtl .col-lg-pull-12 {
    left: 100%;
    right: auto
  }
  .rtl .col-lg-pull-11 {
    left: 91.66666667%;
    right: auto
  }
  .rtl .col-lg-pull-10 {
    left: 83.33333333%;
    right: auto
  }
  .rtl .col-lg-pull-9 {
    left: 75%;
    right: auto
  }
  .rtl .col-lg-pull-8 {
    left: 66.66666667%;
    right: auto
  }
  .rtl .col-lg-pull-7 {
    left: 58.33333333%;
    right: auto
  }
  .rtl .col-lg-pull-6 {
    left: 50%;
    right: auto
  }
  .rtl .col-lg-pull-5 {
    left: 41.66666667%;
    right: auto
  }
  .rtl .col-lg-pull-4 {
    left: 33.33333333%;
    right: auto
  }
  .rtl .col-lg-pull-3 {
    left: 25%;
    right: auto
  }
  .rtl .col-lg-pull-2 {
    left: 16.66666667%;
    right: auto
  }
  .rtl .col-lg-pull-1 {
    left: 8.33333333%;
    right: auto
  }
  .rtl .col-lg-pull-0 {
    left: auto;
    right: auto
  }
  .rtl .col-lg-push-12 {
    right: 100%;
    left: 0
  }
  .rtl .col-lg-push-11 {
    right: 91.66666667%;
    left: 0
  }
  .rtl .col-lg-push-10 {
    right: 83.33333333%;
    left: 0
  }
  .rtl .col-lg-push-9 {
    right: 75%;
    left: 0
  }
  .rtl .col-lg-push-8 {
    right: 66.66666667%;
    left: 0
  }
  .rtl .col-lg-push-7 {
    right: 58.33333333%;
    left: 0
  }
  .rtl .col-lg-push-6 {
    right: 50%;
    left: 0
  }
  .rtl .col-lg-push-5 {
    right: 41.66666667%;
    left: 0
  }
  .rtl .col-lg-push-4 {
    right: 33.33333333%;
    left: 0
  }
  .rtl .col-lg-push-3 {
    right: 25%;
    left: 0
  }
  .rtl .col-lg-push-2 {
    right: 16.66666667%;
    left: 0
  }
  .rtl .col-lg-push-1 {
    right: 8.33333333%;
    left: 0
  }
  .rtl .col-lg-push-0 {
    right: auto;
    left: 0
  }
  .rtl .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0
  }
  .rtl .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0
  }
  .rtl .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0
  }
  .rtl .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0
  }
  .rtl .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0
  }
  .rtl .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0
  }
  .rtl .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0
  }
  .rtl .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0
  }
  .rtl .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0
  }
  .rtl .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0
  }
  .rtl .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0
  }
  .rtl .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0
  }
  .rtl .col-lg-offset-0 {
    margin-right: 0;
    margin-left: 0
  }
}

.rtl caption,
.rtl th {
  text-align: right
}

@media screen and (max-width:767px) {
  .rtl .table-responsive > .table-bordered {
    border: 0
  }
  .rtl .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .rtl .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .rtl .table-responsive > .table-bordered > tfoot > tr > td:first-child,
  .rtl .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .rtl .table-responsive > .table-bordered > thead > tr > td:first-child,
  .rtl .table-responsive > .table-bordered > thead > tr > th:first-child {
    border-right: 0;
    border-left: initial
  }
  .rtl .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .rtl .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .rtl .table-responsive > .table-bordered > tfoot > tr > td:last-child,
  .rtl .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .rtl .table-responsive > .table-bordered > thead > tr > td:last-child,
  .rtl .table-responsive > .table-bordered > thead > tr > th:last-child {
    border-left: 0;
    border-right: initial
  }
}

.rtl .checkbox label,
.rtl .radio label {
  padding-right: 20px;
  padding-left: initial
}

.rtl .checkbox input[type=checkbox],
.rtl .checkbox-inline input[type=checkbox],
.rtl .radio input[type=radio],
.rtl .radio-inline input[type=radio] {
  margin-right: -20px;
  margin-left: auto
}

.rtl .checkbox-inline,
.rtl .radio-inline {
  padding-right: 20px;
  padding-left: 0
}

.rtl .checkbox-inline + .checkbox-inline,
.rtl .radio-inline + .radio-inline {
  margin-right: 10px;
  margin-left: 0
}

.rtl .has-feedback .form-control {
  padding-left: 42.5px;
  padding-right: 12px
}

.rtl .form-control-feedback {
  left: 0;
  right: auto
}

@media (min-width:768px) {
  .rtl .form-inline label {
    padding-right: 0;
    padding-left: initial
  }
  .rtl .form-inline .checkbox input[type=checkbox],
  .rtl .form-inline .radio input[type=radio] {
    margin-right: 0;
    margin-left: auto
  }
}

@media (min-width:768px) {
  .rtl .form-horizontal .control-label {
    text-align: left
  }
}

.rtl .form-horizontal .has-feedback .form-control-feedback {
  left: 15px;
  right: auto
}

.rtl .caret {
  margin-right: 2px;
  margin-left: 0
}

.rtl .dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right
}

.rtl .dropdown-menu.pull-right {
  left: 0;
  right: auto;
  float: right
}

.rtl .dropdown-menu-right {
  left: auto;
  right: 0
}

.rtl .dropdown-menu-left {
  left: 0;
  right: auto
}

@media (min-width:768px) {
  .rtl .navbar-right .dropdown-menu {
    left: auto;
    right: 0
  }
  .rtl .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto
  }
}

.rtl .btn-group-vertical > .btn,
.rtl .btn-group > .btn {
  float: right
}

.rtl .btn-group .btn + .btn,
.rtl .btn-group .btn + .btn-group,
.rtl .btn-group .btn-group + .btn,
.rtl .btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: 0
}

.rtl .btn-toolbar {
  margin-right: -5px;
  margin-left: 0
}

.rtl .btn-toolbar .btn-group,
.rtl .btn-toolbar .input-group {
  float: right
}

.rtl .btn-toolbar > .btn,
.rtl .btn-toolbar > .btn-group,
.rtl .btn-toolbar > .input-group {
  margin-right: 5px;
  margin-left: 0
}

.rtl .btn-group > .btn:first-child {
  margin-right: 0
}

.rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 4px 4px 0
}

.rtl .btn-group > .btn:last-child:not(:first-child),
.rtl .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 4px 0 0 4px
}

.rtl .btn-group > .btn-group {
  float: right
}

.rtl .btn-group.btn-group-justified > .btn,
.rtl .btn-group.btn-group-justified > .btn-group {
  float: none
}

.rtl .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0
}

.rtl .btn-group > .btn-group:first-child > .btn:last-child,
.rtl .btn-group > .btn-group:first-child > .dropdown-toggle {
  border-radius: 0 4px 4px 0
}

.rtl .btn-group > .btn-group:last-child > .btn:first-child {
  border-radius: 4px 0 0 4px
}

.rtl .btn .caret {
  margin-right: 0
}

.rtl .btn-group-vertical > .btn + .btn,
.rtl .btn-group-vertical > .btn + .btn-group,
.rtl .btn-group-vertical > .btn-group + .btn,
.rtl .btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-right: 0
}

.rtl .input-group .form-control {
  float: right
}

.rtl .input-group .form-control:first-child,
.rtl .input-group-addon:first-child,
.rtl .input-group-btn:first-child > .btn,
.rtl .input-group-btn:first-child > .btn-group > .btn,
.rtl .input-group-btn:first-child > .dropdown-toggle,
.rtl .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.rtl .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 4px 4px 0
}

.rtl .input-group-addon:first-child {
  border-left: 0;
  border-right: 1px solid
}

.rtl .input-group .form-control:last-child,
.rtl .input-group-addon:last-child,
.rtl .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.rtl .input-group-btn:first-child > .btn:not(:first-child),
.rtl .input-group-btn:last-child > .btn,
.rtl .input-group-btn:last-child > .btn-group > .btn,
.rtl .input-group-btn:last-child > .dropdown-toggle {
  border-radius: 4px 0 0 4px
}

.rtl .input-group-addon:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-right: 0
}

.rtl .input-group-btn > .btn + .btn {
  margin-right: -1px;
  margin-left: auto
}

.rtl .input-group-btn:first-child > .btn,
.rtl .input-group-btn:first-child > .btn-group {
  margin-left: -1px;
  margin-right: auto
}

.rtl .input-group-btn:last-child > .btn,
.rtl .input-group-btn:last-child > .btn-group {
  margin-right: -1px;
  margin-left: auto
}

.rtl .nav {
  padding-right: 0;
  padding-left: initial
}

.rtl .nav-tabs > li {
  float: right
}

.rtl .nav-tabs > li > a {
  margin-left: auto;
  margin-right: -2px;
  border-radius: 4px 4px 0 0
}

.rtl .nav-pills > li {
  float: right
}

.rtl .nav-pills > li > a {
  border-radius: 4px
}

.rtl .nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto
}

.rtl .nav-stacked > li {
  float: none
}

.rtl .nav-stacked > li + li {
  margin-right: 0;
  margin-left: auto
}

.rtl .nav-justified > .dropdown .dropdown-menu {
  right: auto
}

.rtl .nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto
}

@media (min-width:768px) {
  .rtl .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0
  }
}

@media (min-width:768px) {
  .rtl .navbar-header {
    float: right
  }
}

.rtl .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px
}

.rtl .navbar-brand {
  float: right
}

@media (min-width:768px) {
  .rtl .navbar > .container .navbar-brand,
  .rtl .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto
  }
}

.rtl .navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto
}

@media (max-width:767px) {
  .rtl .navbar-nav .open .dropdown-menu .dropdown-header,
  .rtl .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 25px 5px 15px
  }
}

@media (min-width:768px) {
  .rtl .navbar-nav {
    float: right
  }
  .rtl .navbar-right {
    float: left!important
  }
  .rtl .navbar-left,
  .rtl .navbar-nav > li {
    float: right!important
  }
}

@media (min-width:768px) {
  .rtl .navbar-left.flip {
    float: right!important
  }
  .rtl .navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto
  }
  .rtl .navbar-right.flip {
    float: left!important;
    margin-left: -15px;
    margin-right: auto
  }
  .rtl .navbar-right .dropdown-menu {
    left: 0;
    right: auto
  }
}

@media (min-width:768px) {
  .rtl .navbar-text {
    float: right
  }
  .rtl .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto
  }
}

.rtl .pagination {
  padding-right: 0
}

.rtl .pagination > li > a,
.rtl .pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: 0
}

.rtl .pagination > li:first-child > a,
.rtl .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0 4px 4px 0
}

.rtl .pagination > li:last-child > a,
.rtl .pagination > li:last-child > span {
  margin-right: -1px;
  border-radius: 4px 0 0 4px
}

.rtl .pager {
  padding-right: 0;
  padding-left: initial
}

.rtl .pager .next > a,
.rtl .pager .next > span {
  float: left
}

.rtl .pager .previous > a,
.rtl .pager .previous > span {
  float: right
}

.rtl .nav-pills > li > a > .badge {
  margin-left: 0;
  margin-right: 3px
}

.rtl .list-group-item > .badge {
  float: left
}

.rtl .list-group-item > .badge + .badge {
  margin-left: 5px;
  margin-right: auto
}

.rtl .alert-dismissable,
.rtl .alert-dismissible {
  padding-left: 35px;
  padding-right: 15px
}

.rtl .alert-dismissable .close,
.rtl .alert-dismissible .close {
  right: auto;
  left: -21px
}

.rtl .progress-bar {
  float: right
}

.rtl .media > .pull-left {
  margin-right: 10px
}

.rtl .media > .pull-left.flip {
  margin-right: 0;
  margin-left: 10px
}

.rtl .media > .pull-right {
  margin-left: 10px
}

.rtl .media > .pull-right.flip {
  margin-left: 0;
  margin-right: 10px
}

.rtl .media-right,
.rtl .media > .pull-right {
  padding-right: 10px;
  padding-left: initial
}

.rtl .media-left,
.rtl .media > .pull-left {
  padding-left: 10px;
  padding-right: initial
}

.rtl .media-list {
  padding-right: 0;
  padding-left: initial;
  list-style: none
}

.rtl .list-group {
  padding-right: 0;
  padding-left: initial
}

.rtl .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.rtl .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.rtl .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.rtl .panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.rtl .panel > .table:first-child > thead:first-child > tr:first-child th:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 0
}

.rtl .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.rtl .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.rtl .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.rtl .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.rtl .panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.rtl .panel > .table:first-child > thead:first-child > tr:first-child th:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 0
}

.rtl .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.rtl .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.rtl .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.rtl .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.rtl .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0
}

.rtl .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.rtl .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.rtl .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.rtl .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.rtl .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.rtl .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0
}

.rtl .panel > .table-bordered > tbody > tr > td:first-child,
.rtl .panel > .table-bordered > tbody > tr > th:first-child,
.rtl .panel > .table-bordered > tfoot > tr > td:first-child,
.rtl .panel > .table-bordered > tfoot > tr > th:first-child,
.rtl .panel > .table-bordered > thead > tr > td:first-child,
.rtl .panel > .table-bordered > thead > tr > th:first-child,
.rtl .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.rtl .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.rtl .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child,
.rtl .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.rtl .panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.rtl .panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
  border-right: 0;
  border-left: none
}

.rtl .panel > .table-bordered > tbody > tr > td:last-child,
.rtl .panel > .table-bordered > tbody > tr > th:last-child,
.rtl .panel > .table-bordered > tfoot > tr > td:last-child,
.rtl .panel > .table-bordered > tfoot > tr > th:last-child,
.rtl .panel > .table-bordered > thead > tr > td:last-child,
.rtl .panel > .table-bordered > thead > tr > th:last-child,
.rtl .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.rtl .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.rtl .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child,
.rtl .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.rtl .panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.rtl .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
  border-right: none;
  border-left: 0
}

.rtl .embed-responsive .embed-responsive-item,
.rtl .embed-responsive embed,
.rtl .embed-responsive iframe,
.rtl .embed-responsive object {
  right: 0;
  left: auto
}

.rtl .close {
  float: left
}

.rtl .modal-footer {
  text-align: left
}

.rtl .modal-footer.flip {
  text-align: right
}

.rtl .modal-footer .btn + .btn {
  margin-left: auto;
  margin-right: 5px
}

.rtl .modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: auto
}

.rtl .modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: auto
}

.rtl .popover {
  left: auto;
  text-align: right
}

.rtl .popover.top > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto
}

.rtl .popover.top > .arrow:after {
  margin-right: -10px;
  margin-left: auto
}

.rtl .popover.bottom > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto
}

.rtl .popover.bottom > .arrow:after {
  margin-right: -10px;
  margin-left: auto
}

.rtl .carousel-control {
  right: 0;
  bottom: 0
}

.rtl .carousel-control.left {
  right: auto;
  left: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.rtl .carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .5) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.rtl .carousel-control .glyphicon-chevron-left,
.rtl .carousel-control .icon-prev {
  left: 50%;
  right: auto;
  margin-right: -10px
}

.rtl .carousel-control .glyphicon-chevron-right,
.rtl .carousel-control .icon-next {
  right: 50%;
  left: auto;
  margin-left: -10px
}

.rtl .carousel-indicators {
  right: 50%;
  left: 0;
  margin-right: -30%;
  margin-left: 0;
  padding-left: 0
}

@media screen and (min-width:768px) {
  .rtl .carousel-control .glyphicon-chevron-left,
  .rtl .carousel-control .glyphicon-chevron-right,
  .rtl .carousel-control .icon-next,
  .rtl .carousel-control .icon-prev {
    margin-left: 0;
    margin-right: -15px
  }
  .rtl .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px
  }
}

.rtl .pull-right.flip {
  float: left!important
}

.rtl .pull-left.flip {
  float: right!important
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

body {
  font-family: open-sans;
  color: #000;
  font-weight: 400;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  text-transform: capitalize!important
}

#wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden
}

.sticky-footer {
  color: #ececec;
  background-color: #2e2e2e;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0
}

.sticky-footer ul {
  padding-left: 15px;
  padding-right: 15px
}

.sticky-footer ul > li > a {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  line-height: 1.4285;
  text-decoration: none
}

.sticky-footer ul > li > a i {
  vertical-align: middle;
  line-height: 1
}

.sticky-footer ul > li > a .icon-youtube.icon-lg {
  font-size: 28px;
  margin-top: -3px;
  display: inline-block
}

.sticky-footer ul > li > a:hover {
  color: #fff;
  text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: open-sans;
  font-weight: 700
}

.sticky-footer h4 {
  color: #fff
}

.width-10 {
  width: 10%
}

.width-20 {
  width: 20%
}

.width-30 {
  width: 30%
}

.width-40 {
  width: 40%
}

.width-50 {
  width: 50%
}

.width-60 {
  width: 60%
}

.width-70 {
  width: 70%
}

.width-80 {
  width: 80%
}

.width-90 {
  width: 90%
}

.width-100 {
  width: 100%
}

.display-table {
  width: 100%;
  height: 100%
}

.pos-relative {
  position: relative
}

.pos-absolute {
  position: absolute
}

.display-table {
  display: table
}

.align-middle {
  vertical-align: middle
}

.display-table > .align-middle {
  display: table-cell
}

@media (max-width:767px) {
  .text-center-xs {
    text-align: center!important
  }
}

@media (max-width:767px) {
  .text-left-xs {
    text-align: left!important
  }
}

@media (max-width:767px) {
  .text-right-xs {
    text-align: right!important
  }
}

.normal-weight {
  font-weight: 400
}

.light-weight {
  font-weight: 300
}

.bold-weight {
  font-weight: 600
}

.font-body,
.font-head {
  font-family: open-sans
}

.strong {
  font-size: 21px
}

.strong-sm {
  font-size: 18px
}

.strong-md {
  font-size: 24px;
  line-height: 1.25
}

.strong-lg {
  font-size: 30px;
  line-height: 1.34
}

.block-inline {
  display: inline-block
}

.block {
  display: block
}

.align-center {
  margin-left: auto;
  margin-right: auto
}

.full-height {
  height: 100%
}

.full-width {
  width: 100%
}

.no-border {
  border: none!important
}

.bordered {
  border: 1px solid transparent
}

.bordered-right {
  border-right: 1px solid transparent
}

.bordered-left {
  border-left: 1px solid transparent
}

.bordered-top {
  border-top: 1px solid transparent
}

.bordered-bottom {
  border-bottom: 1px solid transparent
}

.bordered-primary {
  border-color: #4285f4
}

.bordered-success {
  border-color: #00c851
}

.bordered-info {
  border-color: #33b5e5
}

.bordered-warning {
  border-color: #fb3
}

.bordered-danger {
  border-color: maroon
}

.bordered-white {
  border-color: #fff
}

.bordered-md {
  border-width: 3px
}

.bordered-lg {
  border-width: 5px
}

.bordered-xlg {
  border-width: 20px
}

.bordered-bottom-md {
  border-bottom-width: 3px
}

.btn-gary {
  height: 20px;
  width: 20px;
  background-color: #a9a9a9;
  color: #fff;
  padding: 0;
  text-align: center
}

.no-radius {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  -moz-background-clip: padding-box!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important
}

.no-overflow {
  overflow: hidden
}

.no-float {
  float: none
}

.no-padding {
  padding: 0
}

.no-padding-top {
  padding-top: 0
}

.no-padding-right {
  padding-right: 0
}

.no-padding-bottom {
  padding-bottom: 0
}

.no-padding-left {
  padding-left: 0
}

.section-padding {
  padding: 70px 0
}

.padding {
  padding: 10px
}

.padding-2 {
  padding: 2px
}

.padding-5 {
  padding: 5px
}

.padding-10 {
  padding: 10px
}

.padding-15 {
  padding: 15px
}

.padding-20 {
  padding: 20px
}

.padding-30 {
  padding: 30px
}

.padding-left-5 {
  padding-left: 5px
}

.padding-right-5 {
  padding-right: 5px
}

.padding-top-5 {
  padding-top: 5px
}

.padding-bottom-5 {
  padding-bottom: 5px
}

.padding-left-10 {
  padding-left: 10px
}

.padding-right-10 {
  padding-right: 10px
}

.padding-top-10 {
  padding-top: 10px
}

.padding-bottom-10 {
  padding-bottom: 10px
}

.padding-left-15 {
  padding-left: 15px
}

.padding-right-15 {
  padding-right: 15px
}

.padding-top-15 {
  padding-top: 15px
}

.padding-bottom-15 {
  padding-bottom: 15px
}

.padding-left-20 {
  padding-left: 20px
}

.padding-right-20 {
  padding-right: 20px
}

.padding-top-20 {
  padding-top: 20px
}

.padding-bottom-20 {
  padding-bottom: 20px
}

.padding-left-25 {
  padding-left: 25px
}

.padding-right-25 {
  padding-right: 25px
}

.padding-top-25 {
  padding-top: 25px
}

.padding-bottom-25 {
  padding-bottom: 25px
}

.padding-left-30 {
  padding-left: 30px
}

.padding-right-30 {
  padding-right: 30px
}

.padding-top-30 {
  padding-top: 30px
}

.padding-bottom-30 {
  padding-bottom: 30px
}

.padding-top-60 {
  padding-top: 60px
}

.padding-top-70 {
  padding-top: 70px
}

.col-no-padding {
  padding: 0!important
}

.col-padding-1 {
  padding: 0 1px!important
}

.col-padding-2 {
  padding: 0 2px!important
}

.col-padding-3 {
  padding: 0 3px!important
}

.col-padding-4 {
  padding: 0 4px!important
}

.col-padding-5 {
  padding: 0 5px!important
}

.col-padding-6 {
  padding: 0 6px!important
}

.col-padding-7 {
  padding: 0 7px!important
}

.col-padding-8 {
  padding: 0 8px!important
}

.col-padding-9 {
  padding: 0 9px!important
}

.col-padding-10 {
  padding: 0 10px!important
}

.no-margin {
  margin: 0
}

.no-margin-top {
  margin-top: 0
}

.no-margin-right {
  margin-right: 0
}

.no-margin-bottom {
  margin-bottom: 0
}

.no-margin-left {
  margin-left: 0
}

.margin {
  margin: 10px
}

.margin-5 {
  margin: 5px
}

.margin-10 {
  margin: 10px
}

.margin-15 {
  margin: 15px
}

.margin-20 {
  margin: 20px
}

.margin-25 {
  margin: 25px
}

.margin-30 {
  margin: 30px
}

.margin-left-5 {
  margin-left: 5px
}

.margin-right-5 {
  margin-right: 5px
}

.margin-top-5 {
  margin-top: 5px
}

.margin-bottom-5 {
  margin-bottom: 5px
}

.margin-left-10 {
  margin-left: 10px
}

.margin-right-10 {
  margin-right: 10px
}

.margin-top-10 {
  margin-top: 10px
}

.margin-bottom-10 {
  margin-bottom: 10px
}

.margin-left-15 {
  margin-left: 15px
}

.margin-right-15 {
  margin-right: 15px
}

.margin-top-15 {
  margin-top: 15px
}

.margin-bottom-15 {
  margin-bottom: 15px
}

.margin-left-20 {
  margin-left: 20px
}

.margin-right-20 {
  margin-right: 20px
}

.margin-top-20 {
  margin-top: 20px
}

.margin-bottom-20 {
  margin-bottom: 20px
}

.margin-left-25 {
  margin-left: 25px
}

.margin-right-25 {
  margin-right: 25px
}

.margin-top-25 {
  margin-top: 25px
}

.margin-bottom-25 {
  margin-bottom: 25px
}

.margin-left-30 {
  margin-left: 30px
}

.margin-right-30 {
  margin-right: 30px
}

.margin-top-30 {
  margin-top: 30px
}

.margin-bottom-30 {
  margin-bottom: 30px
}

.margin-top-50 {
  margin-top: 50px
}

.text-primary {
  color: #4285f4
}

.text-success {
  color: #00c851
}

.text-info {
  color: #33b5e5
}

.text-warning {
  color: #fb3
}

.text-danger {
  color: maroon
}

.text-black {
  color: #000
}

.text-white {
  color: #fff
}

.text-green {
  color: #8faf2d
}

.bg-transparent {
  background-color: transparent
}

.bg-default {
  background-color: #fff
}

.bg-primary {
  background-color: #4285f4
}

.bg-success {
  background-color: #00c851
}

.bg-dark-success {
  background-color: #007e33
}

.bg-warning {
  background-color: #fb3
}

.bg-dark-warning {
  background-color: #f80
}

.bg-danger {
  background-color: maroon
}

.bg-dark-danger {
  background-color: #c00
}

.bg-info {
  background-color: #33b5e5
}

.bg-dark-info {
  background-color: #09c
}

.bg-white {
  background-color: #fff
}

.bg-gary {
  background-color: #9e9e9e
}

.bg-inverse {
  background-color: #2e2e2e
}

.bg-green {
  background-color: #8faf2d
}

.img-container {
  width: 50px;
  height: 50px;
  vertical-align: middle
}

.img-container-xs {
  width: 25px;
  height: 25px;
  vertical-align: middle
}

.img-container-sm {
  width: 30px;
  height: 30px;
  vertical-align: middle
}

.img-container-md {
  width: 60px;
  height: 60px;
  vertical-align: middle
}

.img-container-lg {
  width: 80px;
  height: 80px;
  vertical-align: middle
}

.icon-pos-left {
  margin-right: 5px
}

.icon-pos-right {
  margin-left: 5px
}

.icon-pos-left-7 {
  margin-right: 7px
}

.icon-pos-right-7 {
  margin-left: 7px
}

.rtl .bordered-right {
  border-left: 1px solid transparent;
  border-right: none
}

.rtl .bordered-left {
  border-right: 1px solid transparent;
  border-left: none
}

.rtl .bordered-md {
  border-width: 3px
}

.rtl .bordered-lg {
  border-width: 5px
}

.rtl .bordered-xlg {
  border-width: 20px
}

.rtl .bordered-bottom-md {
  border-bottom-width: 3px
}

.rtl .bordered-primary {
  border-color: #4285f4
}

.rtl .bordered-success {
  border-color: #00c851
}

.rtl .bordered-info {
  border-color: #33b5e5
}

.rtl .bordered-warning {
  border-color: #fb3
}

.rtl .bordered-danger {
  border-color: maroon
}

.rtl .bordered-white {
  border-color: #fff
}

.rtl .padding-left {
  padding-right: 10px;
  padding-left: 0
}

.rtl .padding-right {
  padding-left: 10px;
  padding-right: 0
}

.rtl .padding-left.padding-right {
  padding-left: 10px;
  padding-right: 10px
}

.rtl .padding-left-xs {
  padding-left: 0;
  padding-right: 2px
}

.rtl .padding-right-xs {
  padding-right: 0;
  padding-left: 2px
}

.rtl .padding-left-xs.padding-right-xs {
  padding-right: 2px;
  padding-left: 2px
}

.rtl .padding-left-sm {
  padding-right: 5px;
  padding-left: 0
}

.rtl .padding-right-sm {
  padding-left: 5px;
  padding-right: 0
}

.rtl .padding-left-sm.padding-right-sm {
  padding-left: 5px;
  padding-right: 5px
}

.rtl .padding-left-md {
  padding-right: 15px;
  padding-left: 0
}

.rtl .padding-right-md {
  padding-left: 15px;
  padding-right: 0
}

.rtl .padding-left-md.padding-right-md {
  padding-right: 15px;
  padding-left: 15px
}

.rtl .padding-left-lg {
  padding-right: 30px;
  padding-left: 0
}

.rtl .padding-right-lg {
  padding-left: 30px;
  padding-right: 0
}

.rtl .padding-left-lg.padding-right-lg {
  padding-left: 30px;
  padding-right: 30px
}

.rtl .margin-left {
  margin-right: 10px;
  margin-left: 0
}

.rtl .margin-right {
  margin-left: 10px;
  margin-right: 0
}

.rtl .margin-left.margin-right {
  margin-right: 10px;
  margin-left: 10px
}

.rtl .margin-left-sm {
  margin-right: 5px;
  margin-left: 0
}

.rtl .margin-right-sm {
  margin-left: 5px;
  margin-right: 0
}

.rtl .margin-left-sm.margin-right-sm {
  margin-left: 5px;
  margin-right: 5px
}

.rtl .margin-left-md {
  margin-right: 15px;
  margin-left: 0
}

.rtl .margin-right-md {
  margin-left: 15px;
  margin-right: 0
}

.rtl .margin-left-md.margin-right-md {
  margin-left: 15px;
  margin-right: 15px
}

.rtl .margin-left-lg {
  margin-right: 30px;
  margin-left: 0
}

.rtl .margin-right-lg {
  margin-left: 30px;
  margin-right: 0
}

.rtl .margin-left-lg.margin-right-lg {
  margin-left: 30px;
  margin-right: 30px
}

.rtl .icon-pos-left {
  margin-right: auto;
  margin-left: 5px
}

.rtl .icon-pos-right {
  margin-left: auto;
  margin-right: 5px
}

.rtl .icon-pos-left.icon-pos-right {
  margin-left: 5px;
  margin-right: 5px
}

.top-header {
  padding: 10px 0;
  background: #4c3627
}

.top-header .social {
  float: left
}

.top-header .social a {
  background: #c4b38e;
  font-size: 14px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #4c3627;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.top-header .lang {
  float: right
}

.top-header .lang .btn {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  margin: 0;
  padding: 0 20px;
  position: relative;
  text-transform: capitalize
}

.top-header .lang .btn:before {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  right: 0;
  top: 0;
  color: #fff
}

.top-header .lang .btn i {
  margin: 0 7px;
  font-size: 12px
}

.top-header .lang .dropdown-content {
  background: #4c3627
}

.top-header .lang .dropdown-content li a {
  padding: 5px 10px;
  display: block;
  color: #c4b38e;
  font-size: 14px;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.top-header .lang .dropdown-content li a:hover {
  background: #c4b38e;
  color: #4c3627;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.banner {
  background: url(../../assets/images/slider-img.jpg) center center no-repeat fixed;
  background-size: cover;
  text-align: center;
  height: 440px;
  position: relative
}

.banner .pattern-ovelary {
  background: url(../../assets/images/overlay.png);
  position: absolute;
  padding: 80px 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center
}

.banner .pattern-ovelary .logo img {
  height: 250px
}

.main-slider .owl-carousel img {
  width: 100%;
  height: 400px
}

.navbar.main-nav {
  background: #4c3627;
  margin: 0
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav {
  text-align: center;
  margin: 0
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li {
  text-align: center;
  margin: 0 auto
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li a {
  font-size: 16px;
  outline: 0;
  padding: 10px 40px
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li a i {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: #c4b38e;
  font-size: 30px
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li.dropdown ul {
  width: auto;
  max-width: 1000px;
  background: #4c3627
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li.dropdown ul li {
  display: block;
  width: 100%
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li.dropdown ul li a {
  font-size: 16px;
  color: #c4b38e;
  padding: 7px;
  text-align: left
}

.navbar.main-nav .navbar-collapse .nav.navbar-nav li.dropdown ul li a:hover {
  background: #c4b38e;
  color: #4c3627
}

.navbar.main-nav .navbar-collapse .navbar-form {
  padding: 0;
  margin-top: 20px
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group {
  box-sizing: border-box;
  margin: 0
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #c4b38e;
  padding: 7px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: normal;
  color: #c4b38e;
  height: auto
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control::-webkit-input-placeholder {
  color: #c4b38e;
  font-size: 13px;
  font-style: normal;
  line-height: 1.4285;
  text-transform: capitalize
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control::-moz-placeholder {
  color: #c4b38e;
  font-size: 13px;
  font-style: normal;
  line-height: 1.4285;
  text-transform: capitalize
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control:-ms-input-placeholder {
  color: #c4b38e;
  font-size: 13px;
  font-style: normal;
  line-height: 1.4285;
  text-transform: capitalize
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control:focus {
  box-shadow: none
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group button {
  background: #c4b38e;
  padding: 7px 10px;
  color: #4c3627;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.navbar.main-nav .navbar-collapse .navbar-form .form-group button i {
  margin: 0 5px
}

.navbar.main-nav .modal .modal-header {
  text-align: center
}

.navbar.main-nav .modal .modal-header h4 {
  color: #4c3627
}

.navbar.main-nav .modal .modal-body .input-field {
  width: 100%
}

.navbar.main-nav .modal .modal-body .btn {
  background: maroon;
  padding: 10px 50px;
  font-size: 18px;
  margin: 30px 0;
  line-height: normal;
  color: #fff
}

.navbar.main-nav .modal .modal-body .btn i {
  margin: 0 7px;
  font-size: 14px
}

.rtl .top-header .social {
  float: right
}

.rtl .top-header .lang {
  float: left
}

.rtl .top-header .lang .btn:before {
  left: 0;
  right: auto
}

.rtl .navbar.main-nav .navbar-collapse .nav.navbar-nav li.dropdown ul li a {
  text-align: right
}

.rtl .modal .modal-body .input-field label {
  right: .75rem;
  left: auto
}

.top-footer {
  background: #4c3627;
  padding: 40px 0;
  text-align: center
}

.top-footer .logo {
  margin-bottom: 15px
}

.top-footer .logo img {
  height: 130px;
  margin-bottom: 10px
}

.top-footer .logo p {
  color: #c4b38e;
  font-size: 14px;
  margin: 0
}

.top-footer .logo p span {
  display: block
}

.top-footer .social p {
  color: #c4b38e;
  font-size: 14px;
  margin: 10px 0 0
}

.top-footer .social a {
  background: #c4b38e;
  font-size: 14px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #4c3627
}

.bottom-footer {
  padding: 10px 0;
  text-align: center;
  background: #403025
}

.bottom-footer p {
  color: #c4b38e;
  font-size: 14px;
  margin: 0
}

.bottom-footer p a {
  color: #c4b38e
}

.card.view-item {
  padding: 30px;
  background-color: #fff
}

.card.view-item .sound-item audio{
  width: 100%;
  margin-bottom: 30px;
}

.card.view-item .video iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 30px
}

.card.view-item .article {
  margin-bottom: 30px
}

.card.view-item .article img {
  margin: 0 auto
}

.card.view-item article {
  margin-top: 20px
}

.card.view-item article p {
  font-size: 16px;
  color: #4c3627
}

.card.view-item article .download-btn {
  text-align: center;
  padding: 15px 0
}

.card.view-item article .download-btn .btn {
  margin: 0;
  padding: 10px 20px;
  color: #fff;
  background: maroon;
  font-size: 14px;
  line-height: normal;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.card.view-item article .download-btn .btn i {
  margin: 0 7px;
  font-size: 14px
}

.card.view-item article .download-btn .btn:hover {
  background: #4c3627;
  color: #c4b38e;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px 30px
}

.card.view-item .item-title h1 {
  font-size: 24px;
  color: maroon;
  margin: 0 0 10px
}

.card.view-item .item-title h1 span {
  color: #c4b38e;
  margin: 0 20px;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background: #4c3627
}

.card.view-item .item-title .author {
  margin: 25px 0;
}

.card.view-item .share-item {
  margin-top: 20px;
  border-top: 1px solid #c4b38e;
  border-bottom: 1px solid #c4b38e;
  padding: 20px 0
}

.card.view-item .info {
  float: left;
  padding-top: 5px
}

.card.view-item .info span {
  margin-right: 15px;
  color: #4c3627;
  font-size: 12px
}

.card.view-item .info span i {
  color: #c4b38e;
  margin-right: 7px
}

.card.view-item .share {
  float: right
}

.card.view-item .share h5 {
  font-size: 16px;
  color: #4c3627;
  margin: 0 10px;
  display: inline-block
}

.card.view-item .share .btn-sm-full {
  margin: 0;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px
}

.card.view-item .share .btn-sm-full span {
  margin: 0
}

.card.view-item .share .btn-sm-full i {
  font-size: 14px;
  margin: 0 5px
}

.jp-audio,
.jp-audio .jp-interface {
  background: 0 0
}

.jp-audio .jp-controls {
  padding: 0
}

.jp-audio .jp-type-single .jp-progress {
  left: 65px;
  height: 10px;
  top: 21px
}

.jp-audio .jp-seek-bar {
  background: #4c3627
}

.jp-audio .jp-play-bar {
  background: #c4b38e
}

.jp-audio .jp-volume-controls {
  right: 140px;
  top: 13px
}

.jp-audio .jp-volume-bar {
  background: #4c3627;
  text-indent: inherit;
  top: 10px
}

.jp-audio .jp-time-holder {
  top: -5px
}

.jp-audio .jp-current-time,
.jp-audio .jp-duration {
  font-size: 12px;
  color: #90856e
}

.jp-audio .jp-volume-bar-value {
  background: #c4b38e;
  text-indent: inherit
}

.jp-audio .jp-volume-controls button {
  text-indent: inherit;
  background: 0 0;
  overflow: visible;
  width: auto;
  height: auto;
  color: #4c3627
}

.rtl .card.view-item .info {
  float: right
}

.rtl .card.view-item .info span {
  margin-left: 15px;
  margin-right: 0
}

.rtl .card.view-item .info span i {
  margin-left: 7px;
  margin-right: 0
}

.rtl .card.view-item .share {
  float: left
}

.home-sidebar .side-menu {
  margin-bottom: 15px;
  z-index: 9999
}

.home-sidebar .side-menu h3 {
  z-index: 22;
  background: #4c3627;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  margin: 0;
  position: relative;
  color: #c4b38e;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-radius: 10px 10px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.home-sidebar .side-menu h3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../../assets/images/title-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .3
}

.home-sidebar .side-menu h3 i {
  margin: 0 7px
}

.home-sidebar .side-menu ul li {
  position: relative;
  display: block
}

.home-sidebar .side-menu ul li a {
  display: block;
  color: #c4b38e;
  background: #4c3627;
  padding: 10px 30px;
  border-top: 1px solid #c4b38e;
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative
}

.home-sidebar .side-menu ul li a:before {
  position: absolute;
  content: "";
  background: url(../../assets/images/menu-star.png) no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 10px
}

.home-sidebar .side-menu ul li a:hover {
  background: #c4b38e;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #4c3627;
  padding: 10px 35px
}

.home-sidebar .side-menu ul li ul {
  position: absolute;
  display: none;
  min-width: 160px;
  top: 0;
  left: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 9999
}

.home-sidebar .side-menu ul li ul li {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.home-sidebar .side-menu ul li ul li a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #c4b38e;
  background: #4c3627;
  padding: 10px;
  text-align: center;
  white-space: nowrap
}

.home-sidebar .side-menu ul li ul li a:before {
  content: none
}

.home-sidebar .side-menu ul li:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.home-sidebar .side-menu ul li:hover ul {
  display: block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.rtl .home-sidebar .side-menu ul li a:before {
  right: 10px;
  left: auto;
  top: 15px
}

::-webkit-scrollbar {
  width: 5px;
  background: #4c3627
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background: #c4b38e
}

.main-content {
  background: url(../../assets/images/body-bg.jpg) center center;
  padding: 30px 0 70px
}

.main-content .breadcrumb {
  padding: 15px;
  background: #4c3627
}

.main-content .breadcrumb li {
  color: #c4b38e;
  font-size: 16px
}

.main-content .breadcrumb li a {
  color: #c4b38e
}

.main-content .breadcrumb li a i {
  margin: 0 7px
}

.section-title {
  margin-bottom: 15px;
  padding: 15px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-radius: 10px 10px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background: #4c3627;
  color: #c4b38e;
  position: relative;
  z-index: 25
}

.section-title h3 {
  margin: 0;
  font-size: 18px;
  color: #c4b38e
}

.section-title a {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #c4b38e;
  font-size: 18px
}

.section-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(../../assets/images/title-bg.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .3
}

.author {
  font-weight: 400;
  color: #4c3627;
  display: block;
  font-size: 14px;
  margin-bottom: 5px
}

.author i {
  margin-right: 7px;
  color: #c4b38e
}

.latest-added .card {
  padding: 20px;
  margin: 0 0 20px;
  background: #fff;
  border-bottom: 4px solid #c4b38e
}

.latest-added .card .big-thum {
  position: relative
}

.latest-added .card .big-thum img {
  width: 100%;
  height: 185px
}

.latest-added .card .big-thum .play-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center
}

.latest-added .card .big-thum .play-icon a {
  display: block;
  margin: 65px auto 0;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  color: #4c3627
}

.latest-added .card .big-thum h4 {
  margin: 10px 0 5px
}

.latest-added .card .big-thum h4 a {
  font-size: 18px;
  color: maroon;
  display: block;
  line-height: normal
}

.latest-added .card .big-thum p {
  font-size: 15px;
  margin: 0 0 10px;
  color: #4c3627;
  line-height: normal
}

.latest-added .card .big-thum span {
  display: inline-block;
  margin-right: 30px;
  color: #4c3627;
  font-size: 12px
}

.latest-added .card .big-thum span i {
  margin-right: 7px;
  color: #c4b38e
}

.latest-added ul li:last-child .new-small-added-item {
  border-bottom: 0
}

.new-small-added-item {
  padding: 10px;
  border-bottom: 1px solid #c4b38e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.new-small-added-item .media .media-left {
  padding: 0
}

.new-small-added-item .media .media-left img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.new-small-added-item .media .media-body {
  padding-left: 15px
}

.new-small-added-item .media .media-body h4 {
  line-height: normal;
  margin: 0 0 5px
}

.new-small-added-item .media .media-body h4 a {
  display: block;
  color: maroon;
  font-size: 18px
}

.new-small-added-item .media .media-body label {
  margin-bottom: 9px
}

.new-small-added-item .media .media-body span {
  display: inline-block;
  margin-right: 20px;
  color: #4c3627;
  font-size: 12px
}

.new-small-added-item .media .media-body span i {
  margin-right: 7px;
  color: #c4b38e
}

.new-small-added-item:hover {
  background: #4c3627;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.new-small-added-item:hover .media .media-body .author,
.new-small-added-item:hover .media .media-body h4 a,
.new-small-added-item:hover .media .media-body span,
.new-small-added-item:hover .media .media-body span i {
  color: #c4b38e
}

.card.book-item {
  margin-top: 0;
  border-bottom: 3px solid #4c3627;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px
}

.card.book-item .book-img {
  position: relative
}

.card.book-item .book-img img {
  width: 100%;
  height: 197px;
  margin-bottom: 10px
}

.card.book-item .book-img span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: maroon;
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin: 0
}

.card.book-item .desc {
  border-top: 1px solid #c4b38e
}

.card.book-item .desc h4 {
  margin: 10px 0 5px;
  line-height: 20px
}

.card.book-item .desc h4 a {
  font-size: 16px;
  color: maroon;
  font-weight: 600;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.card.book-item .desc span {
  display: inline-block;
  color: #c4b38e;
  font-size: 12px;
  margin-right: 10px
}

.card.book-item .desc span i {
  margin-right: 7px;
  font-size: 12px;
  color: #4c3627
}

.card.book-item:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #4c3627
}

.card.book-item:hover .book-img label {
  background: maroon;
  color: #fff
}

.card.book-item:hover .desc .author,
.card.book-item:hover .desc h4 a,
.card.book-item:hover .desc span i {
  color: #c4b38e
}

.card.question-item {
  margin: 0 0 15px;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.card.question-item .media .media-left {
  padding: 0
}

.card.question-item .media .media-left img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.question-item .media .media-body {
  padding: 0 10px
}

.card.question-item .media .media-body h4 {
  line-height: 20px;
  margin: 10px 0
}

.card.question-item .media .media-body h4 a {
  display: block;
  font-size: 18px;
  color: maroon;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.card.question-item .media .media-body span {
  display: inline-block;
  margin-right: 20px;
  color: #4c3627;
  font-size: 12px;
  margin-bottom: 7px
}

.card.question-item .media .media-body span i {
  color: #c4b38e;
  margin-right: 7px
}

.card.question-item:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #4c3627;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.question-item:hover .media .media-left {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.question-item:hover .media .media-body .author,
.card.question-item:hover .media .media-body h4 a,
.card.question-item:hover .media .media-body span {
  color: #c4b38e
}

.home-videos ul li:last-child .small-video-item {
  border-bottom: 0
}

.big-video {
  margin-top: 0
}

.big-video .video-img {
  position: relative
}

.big-video .video-img img {
  height: 220px;
  width: 100%
}

.big-video .video-img .play-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center
}

.big-video .video-img .play-icon a {
  display: block;
  margin: 85px auto 0;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  color: #4c3627
}

.big-video .desc {
  padding: 15px
}

.big-video .desc h4 {
  line-height: 20px;
  margin: 0 0 10px
}

.big-video .desc h4 a {
  color: maroon;
  display: block;
  font-size: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.big-video .desc label {
  font-weight: 400;
  color: #4c3627;
  display: block;
  font-size: 14px
}

.big-video .desc label i {
  margin-right: 7px;
  color: #c4b38e
}

.big-video .desc span {
  display: inline-block;
  margin-right: 20px;
  color: #4c3627;
  font-size: 12px
}

.big-video .desc span i {
  color: #c4b38e;
  margin-right: 7px
}

.small-videos-list {
  padding: 0;
  border-top: 1px solid #c4b38e
}

.small-video-item {
  padding: 10px;
  border-bottom: 1px solid #c4b38e;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.small-video-item .media .media-left {
  position: relative
}

.small-video-item .media .media-left img {
  width: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.small-video-item .media .media-left .play-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto
}

.small-video-item .media .media-left .play-icon a {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 20px auto 0;
  color: #fff
}

.small-video-item .media .media-body h4 {
  line-height: 20px;
  margin: 0 0 5px
}

.small-video-item .media .media-body h4 a {
  display: block;
  font-size: 18px;
  color: maroon;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.small-video-item .media .media-body span {
  display: inline-block;
  margin-right: 20px;
  color: #4c3627;
  font-size: 12px
}

.small-video-item .media .media-body span i {
  color: #c4b38e;
  margin-right: 7px
}

.small-video-item:hover {
  background: #4c3627;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.small-video-item:hover .media .media-body .author,
.small-video-item:hover .media .media-body h4 a,
.small-video-item:hover .media .media-body span {
  color: #c4b38e
}

.home-sound-item .card {
  margin: 0;
  padding: 12.3px 15px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  -moz-background-clip: padding-box!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important
}

.home-sound-item .card .media .media-left i {
  width: 50px;
  height: 50px;
  background: #c4b38e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  line-height: 50px;
  color: #4c3627;
  font-size: 18px
}

.home-sound-item .card .media .media-body h4 {
  margin: 10px 0;
  line-height: 10px
}

.home-sound-item .card .media .media-body h4 a {
  display: block;
  color: maroon;
  font-size: 18px
}

.home-sound-item .card .media .media-body span {
  display: inline-block;
  margin-right: 20px;
  color: #4c3627;
  font-size: 12px
}

.home-sound-item .card .media .media-body span i {
  margin-right: 7px;
  color: #c4b38e
}

.home-sound-item .card:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #4c3627
}

.home-sound-item .card:hover .media .media-left i {
  background: #c4b38e;
  color: #4c3627
}

.home-sound-item .card:hover .media .media-body .author,
.home-sound-item .card:hover .media .media-body h4 a,
.home-sound-item .card:hover .media .media-body span {
  color: #c4b38e
}

.home-sound-item.inner {
  margin-bottom: 20px
}

.card.home-article {
  margin: 0 0 15px;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff
}

.card.home-article .media .media-left {
  padding: 0
}

.card.home-article .media .media-left img {
  width: 100px;
  height: 110px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.home-article .media .media-body {
  padding: 3px 15px
}

.card.home-article .media .media-body h4 {
  margin: 0 0 10px;
  line-height: 15px
}

.card.home-article .media .media-body h4 a {
  font-size: 18px;
  color: maroon
}

.card.home-article .media .media-body label {
  font-weight: 400;
  color: #4c3627;
  font-size: 14px
}

.card.home-article .media .media-body label i {
  margin-right: 7px;
  color: #c4b38e
}

.card.home-article .media .media-body p {
  font-size: 14px;
  color: #4c3627;
  margin-bottom: 5px;
  height: 25px;
  max-height: 25px;
  overflow: hidden
}

.card.home-article .media .media-body p a {
  color: maroon
}

.card.home-article .media .media-body span {
  font-size: 12px;
  margin-right: 20px;
  color: #4c3627;
  display: inline-block
}

.card.home-article .media .media-body span i {
  margin-right: 7px;
  color: #c4b38e
}

.card.home-article:hover {
  background: #4c3627
}

.card.home-article:hover .media .media-body {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.card.home-article:hover .media .media-body .author,
.card.home-article:hover .media .media-body h4 a,
.card.home-article:hover .media .media-body p,
.card.home-article:hover .media .media-body p a,
.card.home-article:hover .media .media-body span {
  color: #c4b38e
}

.back-to-allah .owl-carousel .item img {
  width: 100%
}

.back-to-allah .owl-carousel .item h4 {
  margin: 0;
  padding: 12px;
  text-align: center;
  line-height: 20px;
  background-color: #fff
}

.back-to-allah .owl-carousel .item h4 a {
  color: maroon;
  display: block;
  font-size: 18px
}

.special-video {
  margin-bottom: 10px;
  margin-top: 15px
}

.special-video h4 {
  background: #4c3627;
  color: #c4b38e;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-radius: 10px 10px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.special-video iframe {
  width: 100%;
  height: 268px
}

.video-item .elegant-card {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.video-item .elegant-card .card-up img {
  height: 190px;
  width: 100%
}

.video-item .elegant-card .btn-floating {
  position: absolute;
  left: 0;
  right: 0;
  float: none;
  width: 40px;
  height: 40px;
  background: #4c3627;
  color: #c4b38e;
  margin: -20px auto 0
}

.video-item .elegant-card .btn-floating i {
  line-height: 40px
}

.video-item .elegant-card .card-content {
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff;
  padding: 20px
}

.video-item .elegant-card .card-content h4 {
  margin: 10px 0;
  line-height: 20px
}

.video-item .elegant-card .card-content h4 a {
  font-size: 18px;
  color: maroon;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.video-item .elegant-card .card-content span {
  font-size: 12px;
  color: #4c3627;
  margin: 0 10px
}

.video-item .elegant-card .card-content span i {
  color: #c4b38e;
  margin: 0 7px
}

.video-item .elegant-card:hover {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.video-item .elegant-card:hover .btn-floating {
  background: #c4b38e;
  color: #4c3627
}

.video-item .elegant-card:hover .card-content {
  background: #4c3627;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.video-item .elegant-card:hover .card-content .author,
.video-item .elegant-card:hover .card-content h4 a,
.video-item .elegant-card:hover .card-content span,
.video-item .elegant-card:hover .card-content span i {
  color: #c4b38e
}

.most-visited .card {
  padding: 0
}

.most-visited .new-small-added-item .media .media-left img {
  width: 80px;
  height: 80px
}

.most-visited .new-small-added-item .media .media-body {
  padding-left: 10px
}

.most-visited .new-small-added-item .media .media-body h4 {
  margin-bottom: 5px
}

.most-visited .new-small-added-item .media .media-body h4 a {
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.most-visited .new-small-added-item .media .media-body span {
  font-size: 12px
}

.pagination {
  margin: 50px 0 0
}

.pagination li {
  display: inline-block;
  padding: 0
}

.pagination li a {
  padding: 10px;
  color: #c4b38e;
  background-color: #fff;
  width: 40px;
  height: 40px;
  font-size: 18px;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  -moz-background-clip: padding-box!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important
}

.pagination li a:hover,
.pagination li.active a,
.pagination li.active a:hover {
  background: #4c3627;
  color: #c4b38e
}

.card.section-info {
  padding: 15px 0 5px;
  margin: 0 0 15px;
  overflow: visible
}

.card.section-info .translated-to {
  margin-bottom: 20px
}

.card.section-info .translated-to span {
  color: #4c3627;
  font-size: 16px;
  margin: 0 15px
}

.card.section-info .btn.dropdown-button {
  margin: 0;
  padding: 10px 20px;
  background: #4c3627;
  color: #fff;
  font-size: 14px;
  line-height: 10px;
  position: relative
}

.card.section-info .btn.dropdown-button i {
  margin: 0 5px;
  font-size: 12px
}

.card.section-info .dropdown-content {
  background: #4c3627;
  width: auto!important;
  max-width: 500px!important;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0!important;
  right: 0!important;
  margin: 0 auto!important
}

.card.section-info .dropdown-content::-webkit-scrollbar {
  width: 5px;
  background: #c4b38e
}

.card.section-info .dropdown-content::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.section-info .dropdown-content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.card.section-info .dropdown-content li a {
  padding: 7px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap
}

.card.section-info .dropdown-content li a:hover {
  background: #c4b38e;
  color: #4c3627
}

.card.section-info ol {
  margin: 0;
  background-color: transparent;
  display: inline-block;
  padding: 0
}

.card.section-info ol li:before {
  color: #4c3627
}

.card.section-info ol li a {
  color: maroon
}

.card.section-info ol li a.btn {
  padding: 5px 20px;
  margin: 0;
  line-height: normal;
  font-size: 14px;
  color: #fff;
  background: #4c3627;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.rtl .author i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .home-sidebar .side-menu ul li ul {
  right: 100%;
  left: auto
}

.rtl .latest-added .card .big-thum span {
  margin-left: 30px;
  margin-right: 0
}

.rtl .latest-added .card .big-thum span i {
  margin-left: 7px;
  margin-right: 0
}

.rtl .new-small-added-item .media .media-body {
  padding-right: 15px;
  padding-left: 0
}

.rtl .new-small-added-item .media .media-body span {
  margin-left: 20px;
  margin-right: 0
}

.rtl .new-small-added-item .media .media-body span i {
  margin-left: 7px;
  margin-right: 0
}

.rtl .section-title a {
  left: 15px;
  right: auto
}

.rtl .card.book-item .book-img span {
  left: 0;
  right: auto
}

.rtl .card.book-item .desc span {
  margin-left: 10px;
  margin-right: 0
}

.rtl .card.book-item .desc span i {
  margin-left: 7px;
  margin-right: 0
}

.rtl .card.question-item .media .media-body span {
  margin-right: 0;
  margin-left: 20px
}

.rtl .big-video .desc label i,
.rtl .card.question-item .media .media-body span i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .big-video .desc span {
  margin-right: 0;
  margin-left: 20px
}

.rtl .big-video .desc span i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .small-video-item .media .media-body span {
  margin-right: 0;
  margin-left: 20px
}

.rtl .home-sound-item .card .media .media-body label i,
.rtl .small-video-item .media .media-body span i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .home-sound-item .card .media .media-body span {
  margin-right: 0;
  margin-left: 20px
}

.rtl .card.home-article .media .media-body label i,
.rtl .home-sound-item .card .media .media-body span i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .card.home-article .media .media-body span {
  margin-right: 0;
  margin-left: 20px
}

.rtl .card.home-article .media .media-body span i {
  margin-right: 0;
  margin-left: 7px
}

.rtl .most-visited .new-small-added-item .media .media-body {
  padding-right: 10px
}

.intro {
  background: url(../../assets/images/slider-img.jpg) center center no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center
}

.intro .pattern-ovelary {
  background: url(../../assets/images/overlay.png);
  position: absolute;
  padding: 100px 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center
}

.intro .pattern-ovelary .logo img {
  height: 250px;
  margin-bottom: 25px
}

.intro .pattern-ovelary .langs {
  text-align: center
}

.intro .pattern-ovelary .langs a {
  display: inline-block;
  margin: 0 3px
}

.intro .pattern-ovelary .langs a img {
  display: inline-block;
  width: 30px;
  height: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}

.intro .pattern-ovelary .langs .tooltip {
  top: 23px!important
}

.intro .pattern-ovelary .langs .tooltip .tooltip-inner {
  background-color: #fb3;
  padding: 2px 10px;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  text-transform: capitalize;
  white-space: nowrap
}

.intro .pattern-ovelary .langs .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fb3
}

.intro .pattern-ovelary .social h1 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .3);
  -ms-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .3);
  -o-text-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .3)
}

.intro .pattern-ovelary .social .btn-sm {
  margin: 0 2px;
  line-height: normal;
  padding: 5px 10px;
  font-size: 14px
}

.intro .pattern-ovelary .social .btn-sm i {
  font-size: 16px
}

@media (max-width:767px) {
  .intro .pattern-ovelary {
    padding: 50px 0
  }
  .intro .pattern-ovelary .logo img {
    height: 200px
  }
  .intro .pattern-ovelary .langs {
    text-align: center
  }
  .intro .pattern-ovelary .langs a img {
    margin-bottom: 10px
  }
}

.mobile-menu {
  position: absolute;
  left: 0;
  top: 0
}

.mobile-menu .button-collapse {
  padding: 10px;
  text-transform: capitalize
}

.mobile-menu .button-collapse i {
  vertical-align: middle
}

.mobile-menu .side-nav {
  padding: 20px 0;
  background: #4c3627
}

.mobile-menu .side-nav .logo-wrapper {
  text-align: center;
  margin-bottom: 30px
}

.mobile-menu .side-nav .logo-wrapper img {
  height: 150px
}

.mobile-menu .side-nav .collapsible-accordion li {
  background: #4c3627;
  height: auto;
  line-height: normal
}

.mobile-menu .side-nav .collapsible-accordion li a {
  color: #c4b38e;
  padding: 10px;
  height: auto;
  font-size: 16px;
  line-height: normal;
  border-bottom: 1px solid #c4b38e
}

.rtl .mobile-menu {
  right: 0;
  left: auto
}

@media (max-width:767px) {
  .main-slider .owl-carousel img {
    height: 300px
  }
  .navbar.main-nav .navbar-collapse .nav.navbar-nav li {
    display: block;
    width: 100%
  }
  .navbar.main-nav .navbar-collapse .navbar-form {
    padding: 20px;
    margin-top: 0
  }
  .navbar.main-nav .navbar-collapse .navbar-form .form-group .form-control {
    margin: 0 0 10px
  }
  .navbar.main-nav .navbar-collapse .navbar-form .form-group button {
    width: 100%
  }
  .home-sidebar .side-menu ul li,
  .rtl .home-sidebar .side-menu ul li {
    position: relative;
    display: block
  }
  .home-sidebar .side-menu ul li ul,
  .rtl .home-sidebar .side-menu ul li ul {
    position: relative;
    min-width: 160px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto
  }
  .card.view-item,
  .rtl .card.view-item {
    padding: 20px
  }
  .card.view-item .video iframe,
  .rtl .card.view-item .video iframe {
    height: 300px
  }
  .card.view-item .item-title h1,
  .rtl .card.view-item .item-title h1 {
    font-size: 26px;
    line-height: 30px
  }
  .card.view-item .jp-audio .jp-type-single .jp-time-holder,
  .rtl .card.view-item .jp-audio .jp-type-single .jp-time-holder {
    left: 43px
  }
  .card.view-item .jp-audio .jp-volume-controls,
  .rtl .card.view-item .jp-audio .jp-volume-controls {
    display: none
  }
  .card.view-item .info,
  .rtl .card.view-item .info {
    float: none;
    display: block;
    margin-bottom: 10px
  }
  .card.view-item .share,
  .rtl .card.view-item .share {
    margin-top: 10px;
    float: none;
    display: block
  }
  .card.view-item .share h5,
  .rtl .card.view-item .share h5 {
    margin: 0 0 15px
  }
  .card.view-item .share .btn-sm-full,
  .rtl .card.view-item .share .btn-sm-full {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center
  }
  .card.section-info {
    text-align: center;
    padding: 15px
  }
  .card.section-info .translated-to {
    margin-bottom: 20px
  }
  .card.section-info .translated-to span {
    display: block;
    margin: 0 0 7px
  }
  .card.section-info .btn.dropdown-button {
    display: block;
    width: 100%
  }
}

/*Updates by momaiz*/
.author {
  height:22px;overflow:hidden
}
.card.view-item article p{
  font-size:18px!important
}